// :copyright: Copyright (c) 2019 ftrack

.container {
  position: relative;
}

.spacing0 {
  padding-bottom: $spacing;
}

.spacing1 {
  padding-top: $spacing;
  padding-left: $spacing-1;
  padding-right: $spacing-1;
  padding-bottom: $spacing-1;
}

.spacing2 {
  padding-top: $spacing;
  padding-left: $spacing-2;
  padding-right: $spacing-2;
  padding-bottom: $spacing-2;
}

.backgroundContained {
  background-color: $color-background-contained;
}

.description {
  font-size: $font-size-normal;
  color: $color-text-secondary;
  font-weight: $font-weight-thin;
}

.content {
  margin-top: $spacing;
}
