// :copyright: Copyright (c) 2018 ftrack
@import "./config";

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  > span > div,
  > div {
    margin-right: $spacing-tiny;
    margin-bottom: $spacing-small;
  }

  .number-of-hidden-container {
    height: 3.2rem;
    width: 3.2rem;
    background-color: $avatar-background;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .number-of-hidden {
    font-size: $font-size-large;
    color: $color-light-1;
  }
}

.presence-indicator {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
}

.align-presence-indicators {
  position: absolute;
}

.active {
  background-color: $color-in-sync;
  color: $color-in-sync;
  border: 2px solid $color-background-raised;
}

.presence-wave::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ripple 1.5s infinite ease-in-out;
  border: 1px solid currentColor;
  content: "";
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}

.presence-pulse {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
