// :copyright: Copyright (c) 2018 ftrack

.filter-field {
  margin-bottom: $spacing;
}

.filter-field-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-field-control-buttons {
  white-space: nowrap;
  [data-react-toolbox="button"] {
    color: $color-text-faded !important;
    width: 3rem;
  }
}

.colorAccent2 {
  color: $color-accent-2;
  font-style: italic;
}

.filter-field-group-label {
  margin-top: $spacing-small;
  margin-bottom: $spacing;
  font-size: $font-size-small;
}

.filter-field-group-label:first-letter {
  text-transform: uppercase;
}

.filter-header-operator {
  display: flex;
  align-items: center;
  min-width: 0;
}

.filter-field:hover {
  .visible-on-hover {
    visibility: visible;
  }
}

.visible-on-hover {
  visibility: hidden;
}

.custom-date-range-wrapper {
  display: flex;

  margin: 0 -$spacing-small;
  > div {
    padding: 0 $spacing-small;
  }
}

.filter-checkbox {
  margin: $spacing-small 0;
}

.field-field-standard-input {
  padding: 0;
}

.match-filter-button-menu {
  [data-react-toolbox="button"] {
    min-width: 0px;
    font-size: 2rem;
    text-transform: none;
    font-weight: 300;
    color: $color-text-secondary !important;
  }
}

.query-filter {
  display: flex;
  flex-direction: column;
}

.filter-hint {
  margin-top: $spacing-small;
  font-size: $font-size-small;
  font-weight: 300;
  color: $color-text-faded;
}

.heading {
  height: $spacing-large;
  line-height: $spacing-large;
  margin: $spacing-small 0;
  position: relative;
}

.filter-any-switch {
  float: right;
}

.filter-any-switch-label {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  color: $color-text-faded;
  margin-right: $spacing-tiny;
}

.customAttributeLinksFilterItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;
  padding: $spacing-tiny $spacing-tiny $spacing-tiny $spacing;
  cursor: pointer;
  color: $input-text-label-color;
  border-bottom: 1px solid $color-divider;

  &:hover,
  &:focus {
    color: $color-text-faded;
  }

  [data-react-toolbox="font-icon"] {
    font-size: 2rem;
  }
}

.customAttributeLinksFilterItemChip {
  margin-left: -$spacing;
}

.entityTypeName {
  text-transform: lowercase;
}
