// :copyright: Copyright (c) 2019 ftrack

.dialog {
  width: 660px;
}

.close-button {
  position: absolute;
  right: $spacing;
  top: $spacing;
}

.description {
  padding-bottom: $spacing;
}

.codeContainer {
  text-align: center;
}

.code {
  display: inline-block;
}

.copiedMessage {
  position: absolute;
  bottom: $spacing;

  animation-name: disappear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
