// :copyright: Copyright (c) 2019 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";

.tooltip {
  @include shadow-8dp();
  text-align: left;
  border-radius: 4px;
  padding: 0;
  max-width: 240px;
  width: 240px;
  overflow: hidden;
}

.tooltipInner {
  padding: $spacing-tiny 0 0 $spacing-small;
}
