// :copyright: Copyright (c) 2016 ftrack
@import "./config";

.note-compact-bottom {
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  color: $color-dark-4;
}

.note-compact-text {
  line-height: inherit;
  font-size: $font-size-large;
  display: block;
  padding-bottom: $spacing-tiny;
  color: $color-gray-light;
  white-space: nowrap;
  font-weight: $font-weight-thin;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo-icon {
  color: $color-dark-4;
}

.note-compact-row-inner {
  overflow: hidden;
}

.note-compact-row {
  display: flex;
  justify-content: space-between;
  padding: $spacing-small 0 $spacing-small 0;
}

.pending-todo {
  display: flex;
  align-items: center;
  height: 3.2rem;
  width: 2.5rem;

  .icon-skeleton {
    display: block;
    height: 2.1rem;
    width: 2.1rem;
  }

  .todo-text-skeleton {
    width: 16rem;
    height: 1.2rem;
  }
}

.todo {
  display: flex;
  font-size: $font-size-small;
  color: $color-text-faded;
  align-items: center;

  &.completed {
    .todo-icon {
      color: $color-primary;
    }
  }

  &:not(.completed) {
    cursor: pointer;
    &:hover {
      color: $color-text;
    }
  }

  .change-todo {
    cursor: pointer;
  }
}
