// :copyright: Copyright (c) 2016 ftrack
@import "./config";

.tags {
  span {
    color: $color-text-primary !important;
  }
}

.frame-info {
  cursor: pointer;
}

.datetime {
  color: $color-text-secondary;
}

.annotationIcon {
  margin-right: $spacing-tiny;
  vertical-align: top;
}

.authorName {
  font-weight: $font-weight-semi-bold;
}

.note-compact-bottom {
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  color: $color-dark-4;
}

.note-compact-text {
  line-height: inherit;
  font-size: $font-size-large;
  display: block;
  padding-bottom: $spacing-tiny;
  color: $color-gray-light;
  white-space: nowrap;
  font-weight: $font-weight-thin;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo-icon {
  color: $color-dark-4;
}

.top-wrapper {
  display: flex;
}

.note-compact-row-inner {
  overflow: hidden;
}

.note-compact-row {
  display: flex;
  justify-content: space-between;
  padding: $spacing-small 0 $spacing-small 0;
}

.note-item {
  .avatar-column {
    float: left;
    margin-right: $spacing;
  }
  .top {
    margin-bottom: $spacing-small;
    span {
      color: $color-text-secondary;
      font-size: $font-size-small;
    }

    .author {
      padding-bottom: $spacing-tiny;
    }

    .author span {
      font-size: $font-size-normal;
      color: $color-text;
    }
  }

  .tagLabels {
    margin-bottom: $spacing-small;
  }

  .attachments-area {
    margin-top: $spacing;
  }

  .context-card {
    margin: $spacing 0;
  }

  .author {
    font-size: $font-size-normal;
    font-weight: $font-weight-semi-bold;
    padding-right: $spacing-small;
  }
}

.note-form {
  flex-shrink: 0;

  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .progressbar {
      transform: scale(0.5);
      margin-top: 0;
      margin-right: -$spacing;
    }
  }

  textarea {
    resize: none;
  }

  &.expanded {
    textarea {
      height: 6em;
    }
  }
}

.reply-button-wrapper {
  margin: 0 -1.2rem;
  text-align: right;
}

.reply-button {
  min-width: 0px;
}

.reply-form {
  margin: $spacing 0;
}

.editable-note-container {
  position: relative;

  .note-item {
    flex: 1;
    min-width: 0;
  }

  .icon-menu {
    position: absolute;
    top: -$spacing-small;
    right: -1.2rem;
    visibility: hidden;
    width: 3.2rem;
    height: 3.2rem;
  }

  &:hover {
    .icon-menu {
      visibility: visible;
    }
  }
}

.destructive-action {
  color: $palette-red-500 !important;
}

.attachments-area {
  .images {
    .image {
      height: 4rem;
      width: 6.4rem;
      margin: 0 $spacing-small $spacing-small 0;
      cursor: pointer;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .other {
    p {
      display: flex;
      align-items: center;
      color: $color-text-secondary;
      margin-top: $spacing-small;

      .attachment-icon {
        font-size: $font-size-large;
        margin-right: $spacing-tiny;
      }

      .file-name:hover {
        text-decoration: underline;
      }

      .file-name {
        cursor: pointer;
      }
    }
  }
}

.pending-todo {
  margin: $spacing-small 0;
  display: flex;
  align-items: center;
  height: 2.7rem;

  .icon-skeleton {
    display: block;
    height: 2.1rem;
    width: 2.1rem;
    margin-top: -0.2rem;
    margin-left: 0.2rem;
    margin-right: $spacing-small;
  }

  .todo-text-skeleton {
    width: 16rem;
    height: 1.2rem;
  }
}

.todo {
  display: flex;
  font-size: $font-size-small;
  margin: $spacing-small 0;
  color: $color-text-secondary;
  align-items: center;

  .todo-icon {
    color: $color-text-secondary;
  }

  > div {
    margin-right: $spacing-tiny;
  }

  &.completed {
    .todo-icon {
      color: $color-primary;
    }
  }

  &:not(.completed) {
    cursor: pointer;
    &:hover {
      color: $color-text;
    }
  }

  .change-todo {
    cursor: pointer;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.input {
  margin-top: $spacing-large;
  textarea {
    padding: 0.6rem 0 0.8rem 0;
    height: 3.2rem;
  }

  > div {
    padding: 0;
  }

  label {
    margin-top: -3.2rem;
    line-height: 3.2rem;
    color: $color-text-secondary;
  }

  button {
    margin-top: 1.5rem;
  }
}

.submitButton {
  margin-right: -1.2rem;
  min-width: 0;
}

@media (hover: none) {
  .editable-note-container .icon-menu {
    visibility: visible;
  }
}

.note-label {
  margin-right: $spacing-tiny;
}

.selected-note-label {
  margin-left: $spacing-tiny;
  cursor: pointer;
  display: inline-block;
  span {
    vertical-align: middle;
  }
}
