// :copyright: Copyright (c) 2018 ftrack
.item {
  min-height: 6.4rem;
  padding: 0 $spacing-large;
}

.itemContentRoot.large {
  height: 6.4rem;
}

.right {
  opacity: 0;
}

.item:hover .right {
  opacity: 1;
}

// Ensure list text has nowrap/ellipsis.
.itemContentRoot {
  min-width: 0;
}

.itemText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemText:not(.primary) {
  white-space: nowrap;
}

.selected {
  background-color: $appbar-alternative-color;
}

.left .itemAction {
  margin: 0;
}
