// :copyright: Copyright (c) 2017 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
@import "./config";

.root {
  position: relative;
}

.left .picker {
  margin-left: -3px;
}

.right {
  text-align: right;
}
.right .picker {
  margin-right: -3px;
  right: 0;
}

.colorButton {
  background-color: gray;
  box-shadow: none;
  border: 2px solid $color-circle-border-color;

  &:hover {
    .edit-overlay {
      background-color: $edit-overlay-background-color;

      .edit-icon {
        font-size: $font-size-large;
      }
    }
  }
}

.loader {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
}

.picker {
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}

.edit-overlay {
  @include material-animation-default();
  transition-property: background-color;

  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  height: 100%;
  width: 100%;
  display: flex;

  .edit-icon {
    @include material-animation-default();
    transition-property: font-size;
    font-size: 0;
    color: white;
  }
}
