/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("./Light/Roboto-Light.woff2?v=1.1.0") format("woff2"),
    url("./Light/Roboto-Light.woff?v=1.1.0") format("woff"),
    url("./Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("./Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"),
    url("./Regular/Roboto-Regular.woff?v=1.1.0") format("woff"),
    url("./Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("./Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"),
    url("./Regular/Roboto-Regular.woff?v=1.1.0") format("woff"),
    url("./Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("./Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"),
    url("./Medium/Roboto-Medium.woff?v=1.1.0") format("woff"),
    url("./Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* END Medium */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("./Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"),
    url("./Bold/Roboto-Bold.woff?v=1.1.0") format("woff"),
    url("./Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("./Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"),
    url("./Bold/Roboto-Bold.woff?v=1.1.0") format("woff"),
    url("./Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/*# sourceMappingURL=roboto.css.map */
