// :copyright: Copyright (c) 2019 ftrack
@import "~react-toolbox/lib/_mixins.scss";

.attachment {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  width: $spacing-4;
  height: $spacing-2;
  margin-left: $spacing-tiny;
  margin-bottom: $spacing-tiny;
  background-color: $color-background-raised;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border: 1px solid $color-background-raised-over;
  border-radius: 2px;
}

.attachment:hover {
  cursor: pointer;
}

.attachment:last-child {
  margin-right: 0;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px;
  margin: auto;
  font-weight: $font-weight-bold;
  font-size: $font-size-x-small;
  z-index: 1;
}

.icon {
  transition-property: opacity;
  background: rgba($color-background-over, 0.85);
  transition: ease-in-out 0.2s;
  opacity: 0;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  right: -1px;
  bottom: -1px;
  top: -1px;
  left: -1px;
  position: absolute;
}

.spinnerWrapper {
  background: rgba($color-background-over, 0.85);
  align-items: center;
  display: flex;
  justify-content: center;
  right: -1px;
  bottom: -1px;
  top: -1px;
  left: -1px;
  position: absolute;
}

.attachment:hover .spinnerWrapper {
  opacity: 0;
}

.attachment:hover > .icon {
  opacity: 1;
  margin: auto;
  border-radius: $spacing-tiny / 2;
}

.attachment:hover > .name {
  opacity: 0;
}

.spinner {
  width: 2rem;
  height: 2rem;
}
