// :copyright: Copyright (c) 2017 ftrack

.icon {
  font-size: $font-size-large;
  vertical-align: middle;
  margin-right: $spacing-small;
  color: $color-text-faded;
}

.attribute-item-caption {
  display: flex;
  justify-content: space-between;
}

.attribute-item-hint {
  color: $color-text-faded;
  margin-left: $spacing;
}

.attribute-item-label {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attribute-item:hover {
  .attribute-item-hint {
    display: none;
  }
}

.attribute-group-label {
  text-transform: lowercase;
}

.attribute-group-label:first-letter {
  text-transform: uppercase;
}

.list-item-indent {
  margin-left: 1.8rem;
}

.list-group-item {
  margin-top: -$spacing; // Offset margin in list_item_group_theme
  margin-left: -$spacing-small; // Offset indentation for group header
}

.attribute-small-margin {
  margin-left: $spacing-tiny;
}
