@import "~@ftrack/react-toolbox/lib/input/_config";

.root {
}

.link {
  cursor: pointer;
  color: $color-text-secondary;
  border: none;
  border-bottom: 2px dotted $input-text-bottom-border-color;
  background-color: transparent;
  display: inline;
  margin: 0;
  padding: 0;
}

.link:hover {
  text-decoration: none;
  border-bottom: 2px solid $input-text-bottom-border-color;
}

.link label {
  cursor: pointer;
}
