// :copyright: Copyright (c) 2018 ftrack

.button {
  min-width: $spacing;
  padding: 0 $spacing-small;
  border: 1px solid $color-border-faded;
  border-radius: 4px;
}

.arrow {
  color: $color-text-faded;
  font-size: $font-size;
  vertical-align: middle;
}

.button[disabled] .arrow {
  opacity: 0.3;
}

.sizeMedium .icon {
  font-size: 2rem;
}

.sizeSmall .icon {
  font-size: 16px;
}

.rounded {
  height: $spacing-large;
  line-height: $spacing-large;
  padding-left: $spacing-small;
  padding-right: $spacing-tiny;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.75 * $spacing;
  text-transform: none;
  font-size: $font-size-small;
  span {
    color: inherit;
  }
}

.neutral:not([disabled]) {
  &.flat,
  &.toggle {
    color: inherit;
  }
}
