// :copyright: Copyright (c) 2016 ftrack
@import "./style/ftrack_theme";
@import "~@ftrack/react-toolbox/lib/globals";

.color-circle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: $chip-height;
  height: $chip-height;
  vertical-align: middle;

  border-radius: 50%;
  background-color: grey;

  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  line-height: $chip-height + 0.1 * $unit;
  overflow: hidden;
}

.select-value--circle {
  padding-left: $chip-height - $chip-padding + $chip-icon-margin-right;
}

:global(.Select--single) .color-circle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 9px;
  top: 6px;
  left: 0;
}

.select-option {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  line-height: 14px;
  font-size: $font-size-normal;
  padding: 6px;

  > .color-circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: smaller;
    top: 3px;
    left: 6px;
  }
}

.select-option--circle {
  composes: select-option;
  position: relative;
  padding-left: 34px;
}

.select-option--two-rows {
  height: 40px;
  cursor: pointer;

  > .color-circle {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: smaller;
    top: 6px;
    left: 4px;
  }
}

.select-option--resource {
  composes: select-option--circle select-option--two-rows;
}

.select-option--focused {
  background: $select-option-focused-bg;
}

.select-option--disabled {
  color: $color-text-faded;
  font-style: italic;
  text-align: center;
  padding-left: 6px;
  white-space: normal;
  display: block;
}

.select-option-label {
  color: $color-text;
}
.select-option--disabled .select-option-label {
  color: $color-text-faded;
}

.select-option-subtitle {
  color: $color-text-secondary;
}

.add-button {
  margin-left: auto;
  display: block;
}

.collaborator-footer {
  margin-top: -2rem;
}

.collaborator-info {
  padding: $spacing-small 0 $spacing;
  color: $color-text-faded;
}

.collaborator-add-new {
  background-color: $color-background;
  padding: $spacing;
  font-size: $input-field-font-size;
}

.collaborator-matches {
  background-color: $color-background;
}

.selected-collaborators {
  padding: $spacing 0 0;
}

.selected-collaborator-item {
  margin-right: $spacing-small;
  margin-bottom: $spacing-small;

  // Duplicated styles from react-toolbox to match custom avatar component.
  padding-left: 0 !important;
  > span {
    font-size: $font-size-small;
    font-weight: $font-weight-thin;
  }
  .avatar {
    height: 3.2 * $unit;
    margin-right: $spacing-small;
    vertical-align: middle;
    width: 3.2 * $unit;
    font-size: 2 * $unit;
    line-height: 3.2 * $unit;
    display: inline-flex;
  }
}

.dropdown-header {
  background-color: $color-background;
  padding: $spacing-small $spacing 0;
}

.invite-prompt-message {
  margin-top: $spacing-small;
}
