.preview-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40rem;
  min-height: 36rem;
}

.video-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.video {
  width: 100% !important;
  height: auto !important;
}
