// :copyright: Copyright (c) 2016 ftrack
@import "./config.scss";

:global {
  @import "./fixed-data-table-base.scss";
}
:global {
  @import "./fixed-data-table-style.scss";
}

.header-cell {
  cursor: default;
  user-select: none;
}

.header-cell--sortable {
  user-select: none;
  cursor: pointer;
}

.header-cell-sort-icon {
  position: absolute;
  top: 50%;
  font-size: 16px;
  line-height: 16px;
  left: 0;
  margin-top: -9px;
  background: $table-background-color;
}

.selection-cell {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
