// :copyright: Copyright (c) 2017 ftrack
@import "~@ftrack/react-toolbox/lib/input/_config";

.input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.input input::placeholder {
  opacity: 1;
  color: $input-text-label-color;
}

.readonly input {
  color: $color-text-faded;
}

.datetime {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }
}
