// :copyright: Copyright (c) 2019 ftrack

.dialog {
  width: 550px;
}

.subtitle {
  margin-bottom: $spacing;
}

.close-button {
  position: absolute;
  right: $spacing;
  top: $spacing;
}

.generic-error {
  color: $color-primary-dark;
}
