// :copyright: Copyright (c) 2020 ftrack
// original width: 1.6rem. original checked:after w:0.6rem, h: 1.1rem
.field {
  margin-bottom: 0;
  height: 1.4rem;
}

.check {
  height: 1.4rem;
  width: 1.4rem;

  border-color: $checkbox-color-list-item;
}

.checked {
  background-color: $checkbox-color-list-item;
  border-color: $checkbox-color-list-item;
}
.checked:after {
  position: absolute !important;
  left: 0.3rem !important;
  width: 0.45rem !important;
  height: 0.9rem !important;

  border-color: $checkbox-color-list-item-checked;
  animation: none !important;
}
