// :copyright: Copyright (c) 2018 ftrack

$unit: 1rem !default;

$grid-unit: 1.6 * $unit !default;
$spacing-1: 1 * $grid-unit !default; // 16
$spacing-2: 2 * $grid-unit !default; // 32
$spacing-3: 3 * $grid-unit !default; // 48
$spacing-4: 4 * $grid-unit !default; // 64

$spacing-tiny: 0.25 * $grid-unit !default; // 4
$spacing-small: 0.5 * $grid-unit !default; // 8
$spacing-normal: 1 * $grid-unit !default; // 16
$spacing-large: 1.5 * $grid-unit !default; // 24
$spacing: $spacing-1 !default;

$border-radius: 2px;
