// :copyright: Copyright (c) 2019 ftrack
$icon-button-size: $spacing-2;

/** Generate theme for react-toolbox IconButton. */
@mixin icon-button($color: null, $icon-font-size: null) {
  @if $color {
    .neutral:not([disabled]) {
      &.flat,
      &.toggle {
        color: $color;
        background-color: transparent;
      }

      &.flat:hover,
      &.toggle:hover {
        background-color: rgba($color, 0.1);
      }

      &.flat.active,
      &.toggle.active {
        background-color: rgba($color, 0.2);
      }
    }
  }

  .toggle {
    width: $icon-button-size;
    height: $icon-button-size;
    line-height: $icon-button-size;
  }

  .toggle > span:not([data-react-toolbox="tooltip"]) {
    line-height: $icon-button-size;
  }

  @if $icon-font-size {
    .toggle > .icon {
      font-size: $icon-font-size;
    }
  }
}
