// :copyright: Copyright (c) 2017 ftrack

$font-size-label: 1.2rem;

.field {
  margin-bottom: $spacing;
}

.helpIcon {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.field:hover > .label > .helpIcon {
  opacity: 0.5;
}
.reveal:hover .helpIcon {
  opacity: 0.5;
}

.reveal {
  margin-bottom: $spacing;
}

.label {
  font-size: $font-size-label;
  color: $color-text-secondary;
  margin-top: $spacing;
  font-weight: $font-weight-semi-bold;
}

.required {
  color: $color-text-error;
  padding: 0 2px;
  font-weight: bolder;
  opacity: 0.5;
}

.errors {
  font-size: $font-size-label;
  color: $color-text-error;
  margin: $spacing-small 0;
  list-style-type: none;
}

.help {
  font-size: $font-size-label;
  color: $color-text-faded;
}
