// :copyright: Copyright (c) 2016 ftrack
@import "../breakpoint/mixin.scss";

.empty {
  opacity: 0.3;
  flex: 1;
  h5 {
    font-size: $font-size-small;
  }
}

// Empty state does not fit on small screens,
// simply hide it.
@media (max-height: 500px) {
  .empty {
    display: none;
  }
}

.onTooltip {
  cursor: pointer;
  font-weight: $font-weight-thin;
}

.tooltipSpan {
  font-weight: $font-weight-semi-bold;

  &:hover {
    text-decoration: underline;
  }
}

.extra-information {
  display: flex;
  align-items: center;
  .thumbnail-without-tooltip {
    flex-shrink: 0;
    width: 6.4rem;
    height: 4rem;
    margin-right: $spacing-small;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .thumbnail-with-tooltip {
    flex-shrink: 0;
    width: 6.4rem;
    height: 4rem;
    margin-right: $spacing-small;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }

  &.clickable {
    cursor: pointer;
  }
}

.extra-information-inline {
  margin: $spacing 0;
}

.parent-note-item {
  position: relative;
  padding-left: $spacing;
  padding-right: $spacing;
  padding-top: $spacing-small;
  border-left: 2px solid transparent;
}

.parent-note-item.highlight-note:before {
  background-color: $color-primary;
  transition: none;
}

.parent-note-item:before {
  content: "";
  display: block;
  position: absolute;
  top: -$spacing;
  right: 0;
  left: -2px;
  bottom: -$spacing;
  opacity: 0.3;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 1s ease-in-out;
  pointer-events: none;
}

.noteSeparator {
  margin: $spacing;
  height: 1px;
  background-color: $color-divider;
}

.note-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;
}

@include mdDown {
  .note-list {
    // Post button is hidden on mobile without extra margin.
    margin-bottom: $spacing-4;
  }
}

.note-list-compact {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;
}

.new-note-form {
  margin: $spacing-large $spacing $spacing;
}

.replies {
  margin-left: $spacing-2;
}

.reply {
  padding-top: $spacing;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading-skeleton {
  display: block;
  width: 100%;
  margin-top: $spacing;
  margin-left: $spacing;

  .skeleton-top-row {
    display: flex;
    width: 26rem;

    .avatar {
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 3.2rem;
      margin-right: $spacing;
    }

    .skeleton-header-text {
      flex: 1;
      display: block;
      margin-bottom: $spacing;

      .skeleton-username {
        width: 15rem;
        display: block;
        height: 1.2rem;
        margin: 0.2rem 0 0.4rem 0;
      }

      .skeleton-date {
        width: 8rem;
        height: 1.2rem;
      }
    }
  }
  .skeleton-content {
    display: block;
    height: 1.2rem;
    width: 16rem;
    margin: 0 0 $spacing-small 4.8rem;

    &:first-of-type {
      width: 23rem;
    }

    &:nth-of-type(2) {
      width: 20rem;
    }
  }
}
