// :copyright: Copyright (c) 2018 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
@import "./config.scss";

.playlist {
  padding: $spacing-2 0 0;
}

.playlist [data-rbd-droppable-id="horizontal-playlist"] {
  display: flex;
}

.playlistItemContainer {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  background-color: $color-background-raised;
}

.playlistItem {
  height: $playlist-item-height;
  width: $playlist-item-width;
  cursor: pointer;
  opacity: 1;
}

.playlistItemActive,
.playlistItemMenuOpen {
  z-index: 1;
  opacity: 1;
  @include focus-shadow();
}

.playlistItemActive .playlistItemFileIcon {
  opacity: 1;
}

.playlistItemThumbnail {
  opacity: 1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-position: center;
  background-size: cover;
}

.playlistItemBackground {
  position: absolute;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-background-dark-1, 0.7);

  will-change: opacity, background-color;
  @include material-animation-default();
  transition-property: opacity, background-color;
}

.playlistItemActive:not(:hover):not(.playlistItemMenuOpen)
  .playlistItemBackground {
  opacity: 0;
}

.playlistItem .playlistItemVersionSelected .playlistItemBackground,
.show-more-item:hover:not(.playlistItemVersionSelected) .playlistItemBackground,
.playlistItem .playlistItemMenuOpen .playlistItemBackground {
  background-color: rgba($color-background-dark-1, 0.6);
}

.show-more-item .playlistItemBackground {
  background-color: rgba($color-background-dark-1, 0.9);
}

.disabledIcon {
  font-size: 6.4rem;
  position: absolute;
  top: $spacing-small;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: $color-dark-3;
}

.playlistItemOverlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color-text-light-faded;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-small;

  will-change: opacity;
  opacity: 0;
  @include material-animation-default();
  transition-property: opacity;
}

.playlistItem:hover .playlistItemOverlay,
.playlistItemMenuOpen .playlistItemOverlay {
  opacity: 1;
}

.playlistItem:hover .show-more-container {
  opacity: 1;
}

.show-more-item .playlistItemOverlay,
.show-more-item:hover .playlistItemOverlay {
  opacity: 1;
}

.playlistItemFileIcon {
  opacity: 0.25;
}

.playlistItemOverlayText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: auto;
  width: 100%;
  line-height: 1.6rem;
}

.playlistItemOverlayTitle {
  color: $color-text-light;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
}

.playlistItemOverlaySubtitle {
  font-size: $font-size-small;
  color: $color-text-light;
}

.playlistItemOverlayPrimary {
  font-size: $font-size-small;
  color: $color-text-light-primary;
}

.playListItemOverlayAssetVersionStatus {
  position: absolute;
  width: $playlist-item-asset-status-width;
  background-color: transparent;
  right: 0;
  top: 0;
  bottom: 0;
}

.playlistItemStatus {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: transparent;
  @include material-animation-default();
  transition-property: background-color;
}

.playlistItemStatusApproved {
  background-color: $color-positive;
}

.playlistItemStatusRequireChanges {
  background-color: $color-negative;
}

.notPlayableInSequence {
  opacity: 0.1;
}

%icons {
  position: absolute;
  right: $spacing-small;
  font-size: $spacing-2;
  pointer-events: auto;
}

.stacked-versions {
  @extend %icons;
  top: $spacing;
}

.type {
  @extend %icons;
  bottom: $spacing-small;
}

.unplayable-media-icon {
  position: relative;
  top: $spacing-2;
}

.playlistEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  height: 71px;

  color: $color-text;
  font-size: $font-size-small;
}

.separator,
.versionCount {
  color: $color-text-light-faded;
}

.show-more-container {
  will-change: opacity;
  opacity: 0;
  @include material-animation-default();
  transition-property: opacity;
}

.show-more-menu {
  max-height: 390px;
  background-color: $color-background-raised;
  border-radius: $border-radius;
  width: min-content;
}

.show-more-item:hover {
  z-index: 1;
}

.show-more-button {
  background-color: $color-primary;
  color: $color-text-contrast;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  position: absolute;
  top: -$spacing-small;
  right: $spacing-small;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  z-index: "2";
}

.playlistItemVersionSelected,
.playlistItemVersionSelected.show-more-item,
.playlistItemVersionSelected.show-more-item:hover {
  pointer-events: none;
  box-shadow: none;
  padding-left: 1rem;
  cursor: not-allowed;
}

.playlistItem .playlistItemVersionSelected .playlistItemThumbnail,
.playlistItem:hover .playlistItemVersionSelected .playlistItemThumbnail {
  opacity: 0.25;
}

.active-indicator {
  position: absolute;
  width: 0.4rem;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $color-primary;
  display: block;
  opacity: 1;
}

.approval-icon {
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding-left: 0.2rem;
  position: absolute;
  top: -$spacing-small;
  left: $spacing-small;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
  color: $color-black;
  opacity: 0.5;
  cursor: default;
}

.approved {
  background-color: $color-positive;
}

.requiresChanges {
  background-color: $color-negative;
}
