// :copyright: Copyright (c) 2018 ftrack

.item {
  min-height: 6.4rem;
  padding: 0 $spacing-large;
  border-bottom: 1px solid $color-divider;
}

.itemContentRoot.large {
  height: 6.4rem;
}

// Ensure list text has nowrap/ellipsis.
.itemContentRoot {
  min-width: 0;
}

.itemText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemText:not(.primary) {
  white-space: nowrap;
}
