// :copyright: Copyright (c) 2018 ftrack

.sectionWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 (-$spacing-large);
  flex: 1;
  min-height: 0;
}

.loadingProgress {
  margin: auto;
}

.section {
  flex: 1;
  min-width: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.section:first-child {
  border-right: 1px solid $color-background-raised-over;
}

.header {
  padding: $spacing $spacing-large 0;
  border-bottom: 1px solid $color-divider;
}

.headerDisabled {
  opacity: 0;
  pointer-events: none;
}

.addNewRow {
  display: flex;
  flex-direction: row;
}

.addNewSelector {
  flex: 1;
  margin-top: 3px;
}

.addNewSelector :global(.Select-control) {
  border-bottom: 0;
}

.captionWithIcon {
  line-height: $font-size-large;
}

.captionIcon {
  font-size: $font-size-large;
  vertical-align: middle;
}
