.cards-view {
  display: flex;
  align-items: stretch;
  align-self: flex-start;
  flex-wrap: wrap;
  padding: $spacing;

  .card-item {
    margin: $spacing;
    border: 1px solid $color-border-default;
  }
}

.disable-text-selection {
  user-select: none;
}

.extra-children {
  display: flex;
}
