// :copyright: Copyright (c) 2019 ftrack

$breakpoint-xs-number: 0 !default;
$breakpoint-sm-number: 600 !default;
$breakpoint-md-number: 960 !default;
$breakpoint-lg-number: 1280 !default;
$breakpoint-xl-number: 1920 !default;

$breakpoint-xs: #{$breakpoint-xs-number}px !default;
$breakpoint-sm: #{$breakpoint-sm-number}px !default;
$breakpoint-md: #{$breakpoint-md-number}px !default;
$breakpoint-lg: #{$breakpoint-lg-number}px !default;
$breakpoint-xl: #{$breakpoint-xl-number}px !default;

:export {
  xs: $breakpoint-xs-number;
  sm: $breakpoint-sm-number;
  md: $breakpoint-md-number;
  lg: $breakpoint-lg-number;
  xl: $breakpoint-xl-number;
}
