// :copyright: Copyright (c) 2019 ftrack
@import "./breakpoints.scss";

@mixin smDown {
  @media (max-width: #{$breakpoint-sm-number - 0.05}px) {
    @content;
  }
}

@mixin smUp {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin mdDown {
  @media (max-width: #{$breakpoint-md-number - 0.05}px) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lgDown {
  @media (max-width: #{$breakpoint-lg-number - 0.05}px) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xlDown {
  @media (max-width: #{$breakpoint-xl-number - 0.05}px) {
    @content;
  }
}

@mixin xlUp {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}
