// :copyright: Copyright (c) 2016 ftrack

.emptyText {
  display: flex;

  &.cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .font-icon {
      margin-top: -7.2rem;
    }
  }
}

.icon {
  max-width: 20rem;
  max-height: 20rem;
  margin-bottom: $spacing;
}

.inner {
  margin: auto;
  padding: $spacing-large $spacing;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 40em;
}

.header {
  margin: $spacing;
}

.label {
  text-align: center;
  font-weight: normal;
  color: $color-text-secondary;
  font-size: $font-size-large;
  line-height: 1.25;
  margin-bottom: $spacing-large;
}

.font-icon {
  color: $color-text-secondary;

  [data-react-toolbox="font-icon"] {
    font-size: 5.6rem;
    opacity: 0.5;
  }
}
