// :copyright: Copyright (c) 2021 ftrack

// entity_picker
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  margin-left: $spacing-small;
  margin-right: -$spacing-small;
}

.chipContainer {
  display: flex;
  justify-content: space-between;
}

.chip {
  box-sizing: border-box;
  background-color: unset;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: 1.2rem;
  margin-top: 1.2rem;
  padding: 0 $spacing-small;
  overflow: unset;
  margin-right: 0;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  border: 1px solid transparent;
  &:hover {
    cursor: pointer;
  }
}

.icon {
  &#{&} {
    font-size: inherit;
    line-height: inherit;
    margin-left: -0.2rem;
    margin-right: -1rem;
    transition: all 0.1s ease-in-out;
    opacity: 0;
  }
}

.icon.iconFade {
  &#{&} {
    margin-right: 0.4rem;
    opacity: 1;
  }
}

.chipDisabled {
  @extend .chip;
  pointer-events: none;
}

.chipButton {
  @extend .chip;
  color: $color-accent-2;
  border: solid $color-accent-2 1px;
}

.chipButtonSelected {
  @extend .chip;
  color: $color-accent-2;
  background-color: #{$color-accent-2}0c;
}

.projectChip {
  @extend .chip;
  border: solid $color-border-faded 1px;
}

.projectChipSelected {
  @extend .chip;
  background-color: $color-border-faded;
}

.projectChipSelectedAndCannotBeDisabled {
  @extend .projectChipSelected;
  &:hover {
    cursor: default;
  }
}

.dialog {
  min-height: 519px;
  width: 450px;
  height: 70vh;
  background-color: $color-background-raised;
  box-shadow: unset;
  border-radius: $spacing-tiny;
  padding: $spacing-2 $spacing-2 $spacing;
  box-shadow: 7px 17px 21px 10px rgba(58, 53, 53, 0.2),
    4px 10px 30px 6px rgba(0, 0, 0, 0.4);
}

.dialogBody {
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listContainer {
  margin-top: $spacing;
  overflow-y: auto;
  margin-bottom: $spacing;
}

.loadingContainer {
  display: flex;
  justify-content: center;
}

.circular {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 30px;
  width: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: $spacing;
  padding-right: -$spacing;
}

%truncation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// list item styles
.firstRow {
  line-height: 2.4rem;
  font-weight: $font-weight-bold !important;
  color: $color-text !important;
  font-size: $font-size-normal !important;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.truncateText {
  @extend %truncation;
}

.secondRow {
  line-height: 1.6rem;
  font-weight: $font-weight-normal !important;
  color: $color-text-secondary !important;
  font-size: $font-size-small !important;
}

.assetVersionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.assetVersionName {
  @extend %truncation;
}

.assetVersionNumber {
  color: $color-text-primary;
  font-weight: $font-weight-normal;
}

.noMatch {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
