// :copyright: Copyright (c) 2018 ftrack

.activity-item {
  display: flex;
  margin-left: -$spacing-small; //align icon on timeline
}

.activity-item-body {
  margin-left: $spacing;
  font-weight: $font-weight-thin;
  font-size: $font-size-normal;
  color: $color-text;
  max-width: 400px;
  min-width: 0;
}

.small span {
  font-size: $font-size-normal;
}

.icon {
  color: $color-text-secondary;
  line-height: 2 * $spacing;
  font-size: $spacing;
  margin-right: $spacing-large;
}

.icon-logo {
  background-color: #282e34;
  width: $spacing-2;
  height: $spacing-2;
  border-radius: 50%;
  flex-shrink: 0;
}

.info {
  font-size: $font-size-small;
  display: flex;
  align-items: center;

  // offset info slightly to align with grid, since item text is slightly
  // larger than row.
  margin-top: -2px;
}

.link {
  color: $color-text-primary;
  border: none;
  cursor: pointer;
  font-weight: $font-weight-semi-bold;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.date {
  color: $color-text-secondary;
  font-weight: $font-weight-semi-bold;
  margin-top: $spacing-tiny;
  font-size: $font-size-small;
}

.image-container {
  height: 5.2rem;
  width: 9.6rem;
  margin: $spacing-small $spacing-tiny $spacing-tiny 0;
  cursor: pointer;
  display: inline-block;
}

.thumbnail {
  background-color: $color-background-empty-state;
}

.error-message {
  color: $color-text-faded;
}

.activity-skeleton {
  display: flex;
  margin-top: (4.8rem + 2.4rem);

  .activity-skeleton-body {
    width: 25rem;
    display: block;
    clear: both;
    overflow: hidden;
  }

  .avatar-skeleton {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 3.2rem;
    display: block;
    margin-right: $spacing;
  }

  .skeleton-row {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
  }

  .icon-skeleton {
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1.6rem;
    margin-right: $spacing-small;
  }

  .date-skeleton-container {
    flex: 1;
  }
}

.notes-activity {
  margin-top: $spacing-small;
  font-size: $font-size-normal;
  color: $color-text;
  max-height: 150px;
  overflow: hidden;
  position: relative;
}

.show-entire-note {
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
}

.note-bottom-fade:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2 * $font-size-normal;
  background-image: linear-gradient(
    to bottom,
    rgba($color-background-contained, 0),
    $color-background-contained 75%
  );
}

// Change background color to match raised surface.
.note-bottom-fade-raised:after {
  background-image: linear-gradient(
    to bottom,
    rgba($color-background-raised, 0),
    $color-background-raised 75%
  );
}

.note-button {
  float: right;
  top: -1rem;
}
