// :copyright: Copyright (c) 2018 ftrack
.header {
}

.colorInherit {
  color: inherit;
}

.colorPrimary {
  color: $color-text-primary;
}

.colorLight {
  color: $color-text-light;
}

.colorLightSecondary {
  color: $color-text-light-faded;
}

.colorDefault {
  color: $color-text;
}

.colorSecondary {
  color: $color-text-secondary;
}

.variantHeadline {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
}
.variantDisplay1 {
  font-size: 4.8rem;
  line-height: 1;
  font-weight: $font-weight-thin;
}

.variantTitle {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;
}

.variantSubheading {
  font-size: $font-size-large;
  line-height: 1.5em;
  font-weight: $font-weight-thin;
}

.variantLabel {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: normal;
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
