// :copyright: Copyright (c) 2018 ftrack
@import "./config";

@keyframes progress {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: calc(300px + 100%) 0;
  }
}

.skeleton {
  display: inline-block;
  width: 100%;
  line-height: 12px;
  border-radius: 12px;
  vertical-align: middle;
  background-color: $skeleton-background-color;
  background-size: 300px 100%;
  background-repeat: no-repeat;
}

.animationDefault {
  background-color: $skeleton-background-color;
  background-image: linear-gradient(
    to right,
    $skeleton-background-color,
    $skeleton-background-color 42.5%,
    $skeleton-highlight-color 47.5%,
    $skeleton-highlight-color 55%,
    $skeleton-background-color 60%
  );
  animation: progress 1.5s linear infinite;
}

.skeleton.animationDefault {
  // Increase specificity to ensure the background color overrides any
  // color set when animation is disabled.
  background-color: $skeleton-background-color;
}
