// :copyright: Copyright (c) 2019 ftrack

.header {
  margin: 0 $spacing-small $spacing-small;
}

.header:not(:first-child) {
  border-top: 1px solid $color-border-faded;
  margin-top: $spacing-small;
  padding-top: $spacing-small;
}
