// :copyright: Copyright (c) 2019 ftrack

.menuItem {
  height: $spacing-large;
  min-width: 100px;
  padding: 0 $spacing-small;
}

.menuItem .icon {
  font-size: $font-size-big !important;
  width: $spacing-large;
}

.selectedIcon .icon {
  opacity: 0;
}

.selectedIcon.selected .icon {
  opacity: 1;
}

.caption {
  font-size: $font-size-small;
  color: $color-text;
}
