// :copyright: Copyright (c) 2017 ftrack

.dialog {
  max-width: 480px;
  min-height: 550px;
}

.success {
  text-align: center;
}

.successHeader {
  margin: $spacing-large;
  font-size: 32px;
}

.icon {
  background-color: $color-primary;
  color: $color-primary-contrast;
  border-radius: 50%;
  font-size: 60px;
  margin-top: 50px;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.thumbnailField {
  margin: -1 * $spacing-large -1 * $spacing-large $spacing -1 * $spacing-large;
  height: 140px;
  display: flex;
  justify-content: stretch;
}

.dateField {
  width: 50%;
  float: left;
}

.colorField {
  float: right;
  margin-top: -3.6rem;
  margin-bottom: 0;
}

.privateField {
  clear: both;
}
