// :copyright: Copyright (c) 2021 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";

.entityListItem {
  z-index: 1;
  flex: 1;

  cursor: pointer;
  user-select: none;

  min-height: 2.8rem;
  max-height: 5.6rem;

  display: flex;
  flex-direction: row;

  position: relative;

  transition: opacity 0.025s ease-in-out;

  &.active {
    opacity: 1;
    background-color: $color-background-raised-over;
  }

  &:hover {
    background-color: $color-background-raised-over;
    z-index: 2;
  }

  &.dragging {
    background-color: $color-background-raised-over;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.entityListItemShadow {
  &:hover {
    @include shadow-6dp();
  }

  &.dragging {
    @include shadow-6dp();
  }
}

.activeIndicator {
  width: 0.4rem;
  background-color: transparent;
}
.entityListItem.active .activeIndicator {
  background-color: $color-primary;
}

.selectionOverlayWrapper {
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  width: 3.7rem;
  left: 0.4rem;
}

.selectionOverlay {
  position: absolute;
  left: 0;
  top: 0.6rem;

  height: 4.4rem;
  width: 2.6rem;

  display: grid;
  place-items: center;
  background-color: rgba(48, 54, 60, 0.8);

  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  z-index: 2;

  opacity: 0;
}
// Target the checkbox and have it scale out X and Y on hover
.selectionOverlay > label {
  @include material-animation-default();
  transition-property: transform;

  transform: scale(0);
  transform-origin: center center;
}

.entityListItem:hover .selectionOverlay,
.selectionOverlayShown {
  opacity: 1;
}

.entityListItem:hover .selectionOverlay > label,
.selectionOverlayShown > label {
  transform: scale(1);
}

.entityListItemContent {
  flex: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: center;
  justify-items: center;

  padding-left: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;

  & > * {
    flex: 1;

    align-items: center;
  }
}

.entityListItemMenuButtonWrapper {
  display: grid;
  place-items: center;
}

.entityListItemRow {
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  color: $color-text-faded;

  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 100%;
}

.entityListItemRow > * + * {
  /* Every child except the first one, to apply some spacing */
  margin-left: $spacing-small;
}

.entityListItemThumbnailWrapper {
  // height: 100%;

  position: relative;

  display: grid;
  place-items: center;
}
.thumbnail {
  border-radius: $border-radius;
  margin: 0.6rem 0.4rem;

  height: 4.4rem;
  width: 5.2rem;
}
.thumbnailOverlay {
  position: absolute;
  z-index: 1;

  border-radius: $border-radius;
  margin: 0.6rem 0.4rem;

  height: 4.4rem;
  width: 5.2rem;

  @include material-animation-default();
  transition-property: background-color;
}

.entityToggle {
  display: flex;
  align-items: center;
  margin: 0 $spacing-small 0 $spacing-small;
}

.entityListItem.active .entityListItemThumbnailWrapper,
.entityListItem:hover .entityListItemThumbnailWrapper {
  background-color: rgba($color-dark-1, 0);
}

.entityStatusBar {
  width: 0.4rem;
  background-color: $color-primary-light;
}
.taskChipContainer {
  display: block;
  overflow: hidden;
}

.taskChip {
  border: 1px solid $color-border-faded;
  border-radius: 1.2rem;
  padding: $spacing-tiny $spacing-small $spacing-tiny $spacing-tiny;
  font-size: $font-size-x-small;
  font-weight: $font-weight-normal;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 2.2rem;
}

.taskChipTruncate {
  overflow: hidden;
}

.taskChipText {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.sentenceCase::first-letter {
  text-transform: capitalize;
  display: block;
}

.taskChipIcon {
  font-size: $font-size-small;
  padding-right: $spacing-tiny;
}

.taskChipColor {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.6rem;
  margin-right: $spacing-tiny;
}

.entityVersionSelector {
  font-size: $font-size-normal;

  display: flex;
  flex-direction: row;
  width: 100%;

  font-weight: $font-weight-normal;
}

.entityVersionSelectorHover:hover {
  cursor: pointer;
  .entityVersionSelectorDecoration {
    background-color: $color-primary;
    @include shadow-6dp();
  }
  .entityVersionSelectorDecorationIcon {
    color: $color-text-light;
  }
}

.entityVersionSelectorInner {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.versionTitleContainer {
  max-width: 70%;
  display: flex;
  flex-direction: row;
}

.entityVersionName {
  font-weight: 500;
  color: $color-text;
  display: block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entityVersionVersion {
  display: flex;
  color: $color-text-primary;
  padding-left: $spacing-tiny;
  padding-right: $spacing-tiny;
}
.entityVersionVersion::before {
  content: "-";
  color: $color-text;
  padding-right: $spacing-tiny;
}

.entityVersionSelectorDecoration {
  display: inline-block;
  flex: 0 0 16px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: $color-text;
  margin-left: $spacing-tiny;
  cursor: pointer;

  @include material-animation-default();
  transition-property: background-color;
}
.entityVersionSelectorDecoration:hover,
.entityVersionSelectorOpen {
  background-color: $color-primary;
  @include shadow-6dp();

  .entityVersionSelectorDecorationIcon {
    color: $color-text-light;
  }
}

.entityVersionSelectorDecorationIcon {
  font-size: $font-size-small;
}

.entityVersionSelectorPopperWrapper {
  width: 36rem;
  background-color: $menu-drop-down-background-color;
  border-radius: $border-radius;
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
  border: 1px solid $color-border-raised;
  @include shadow-4dp();
}

.reviewItemName {
  font-size: $font-size-normal;
  font-weight: 500;
  color: $color-text;
}

.reviewItemVersion {
  font-size: $font-size-normal;
  color: $color-text-primary;
}
