// :copyright: Copyright (c) 2017 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
@import "./config";

.droppableThumbnail {
  position: relative;
  background-color: $droppable-area-background-color;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 160px;
  min-height: 100px;
  width: 100%;
  height: 100%;
}

.droppableThumbnail:hover .children {
  display: none;
}

.hover {
  opacity: 0.9;
}

.dropMessage {
  margin-top: $spacing;
  text-align: center;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1.4em;
}

.add-files-text {
  margin-top: 0;
}

.empty-state-container {
  opacity: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.hasEmptyState {
  .dropMessage,
  .icon {
    opacity: 0;
  }
}

.droppableThumbnail.hasEmptyState:hover {
  .empty-state-container {
    opacity: 0;
  }

  .dropMessage {
    opacity: 1;
  }

  .icon {
    opacity: 1;
  }
}

.highlight {
  color: $droppable-area-text-color-highlight;
  @include material-animation-default();
  transition-property: color;
  font-weight: 500;
}

.content {
  margin: auto;
}

.uploadingProgress {
  text-align: center;
}

.spacing {
  flex: 1;
}

.dropzone {
  height: 100%;
  border-radius: 0.2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $droppable-area-background-color;
  border: none;
  color: $droppable-area-text-color;
  padding: $droppable-area-padding;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;

  &.border {
    border-color: $droppable-area-border-color;
    background-color: transparent;
  }

  &.dark {
    border-color: transparent;
    background-color: $droppable-area-dark-background-color;
    color: $droppable-area-dark-text-color;

    .highlight {
      color: $droppable-area-dark-text-color-highlight;
    }
  }

  .icon {
    font-size: 4.8rem;
    color: $drobbable-area-icon-color;
    @include material-animation-default();
    transition-property: color;
  }

  &.dropzoneActive,
  &.dropzoneActive.dark {
    .icon {
      color: $droppable-area-color-active;
    }

    .highlight {
      color: $droppable-area-color-active;
    }
  }

  &.dropzoneReject,
  &.dropzoneReject.dark {
    .icon {
      color: $droppable-area-color-reject;
    }

    .highlight {
      color: $droppable-area-color-reject;
    }
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.4rem;
}

.hasValue {
  .dropzone {
    opacity: 0;
  }
  &:hover .dropzone {
    opacity: 0.7;
  }
  .dropzoneActive {
    opacity: 0.9;
  }
  .dropzoneReject {
    opacity: 0.9;
  }
}

.hasValue:hover {
  .dropzone.dark {
    opacity: 1;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.deletable-button {
  opacity: 0;
  position: absolute;
  right: $spacing-small;
  padding-top: $spacing-small;
  transition: opacity 0.2s ease-in-out;
}

// Fix size and color of icon
.deletable-button :global(.material-icons) {
  font-size: 2.4rem;
  color: $color-text-light;
}

.droppableThumbnail:hover {
  .deletable-button {
    opacity: 1;
  }
}
