// :copyright: Copyright (c) 2022 ftrack

.button:not(:last-child) {
  margin-right: $spacing;
}

.button {
  outline: 1px solid;
  border-radius: 20px;
  padding: 0 $spacing;
  overflow: hidden;
  vertical-align: middle;
}

.button:hover {
  outline: 1px solid;
  text-decoration: none;
}

.primary:not([disabled]).flat {
  color: $color-text-light-primary;
}

.neutral:not([disabled]).flat {
  color: $color-text-light-faded;
}
