// :copyright: Copyright (c) 2019 ftrack

.item {
  min-height: $spacing-large;
  height: $spacing-large;
  padding: 0;
  margin-top: $spacing;
  cursor: pointer;
}

.itemContentRoot {
  overflow: hidden;
}

.itemAction {
  margin: 0;
}

.item.disabled:not(.checkboxItem) {
  opacity: 1;
}

.itemText.primary {
  color: $color-text-secondary;
  font-weight: $font-weight-bold;
}

.left :last-child > [data-react-toolbox="font-icon"] {
  margin-right: $spacing-small;
}
