// :copyright: Copyright (c) 2019 ftrack

.item {
  min-height: $spacing-large;
  height: $spacing-large;
  padding: 0 0;
  cursor: pointer;
}

.checkbox {
  min-height: $spacing-large;
  height: $spacing-large;

  & > [data-react-toolbox="check"] {
    margin-right: $spacing;
    flex-shrink: 0;
  }

  & > [data-react-toolbox="label"] {
    overflow: hidden;
  }
}

.left :last-child > [data-react-toolbox="font-icon"] {
  margin-right: $spacing-small;
}

.itemAction {
  margin: 0;
}

.right {
  margin-left: $spacing-small;
  margin-right: -1.2rem;
  display: none;

  .item:hover & {
    display: inherit;
  }
}

.icon {
  line-height: $spacing-2;
}

.itemContentRoot {
  overflow: hidden;
}
