// :copyright: Copyright (c) 2018 ftrack

// Primary brand colors
$color-purple: #935ba2 !default;
$color-purple-2: #bf9ac9 !default;
$color-purple-contrast: white !default;
$color-purple-dark: #33313f !default;
$color-purple-light-1: #b38cbe !default;
$color-purple-light-2: #f2ebf4 !default;
$color-green: #00c882;
$color-green-light-1: #79dfb6;
$color-green-light-2: #b2ecd3;
$color-green-dark: #008847;
$color-purple-new: #935ba2;
$color-purple-light-1-new: #bf9ac9;
$color-purple-light-2-new: #d7c1de;
$color-purple-dark-new: #663a81;

// Dark shades, from dark to lighter
$color-dark-0: #1f2327 !default;
$color-dark-1: #232a2f !default;
$color-dark-2: #282e34 !default;
$color-dark-3: #30363c !default;
$color-dark-4: #565b60 !default;

// Faded colors
$color-gray-light: #a9abae !default;

// Light shades
$color-light-1: #f8f8f9 !default;
$color-light-2: #e9eaea !default;
$color-light-3: #ffffff !default;

// Misc colors for specific usage
$color-blue: #3498db !default;
$color-orange: #e67e22 !default;
$color-yellow: #f1c500 !default;

// Teal
$color-teal-1: #b5edf2;
$color-teal-2: #87e1eb;
$color-teal-3: #2eb2c3;
$color-teal-4: #268891;
