// :copyright: Copyright (c) 2018 ftrack

$button-neutral-color-contrast: $color-background-contrast !default;
$button-neutral-color-hover: $color-background-raised-over !default;

$menu-item-icon-font-size: 2 * $unit !default;
$menu-item-icon-size: 1.6 * $menu-item-icon-font-size !default;

@import "~@ftrack/react-toolbox/lib/_colors.scss";
@import "~@ftrack/react-toolbox/lib/_globals.scss";
