// :copyright: Copyright (c) 2018 ftrack
@import "../token/design_tokens.scss";

$font-family: $font-family !default;

$font-size-x-small: 10px !default; // Using px to avoid text zoom in overview.
$font-size-small: $typography-font-size-small !default;
$font-size-normal: $typography-font-size-regular !default;
$font-size-large: $typography-font-size-large !default;

$font-weight-thin: $typography-font-weight-thin !default;
$font-weight-normal: $typography-font-weight-regular !default;
$font-weight-bold: $typography-font-weight-medium !default;

// React-toolbox mapping
$font-size: $font-size-normal !default;
$font-size-tiny: $font-size-small !default;
$font-size-big: $font-size-large !default;

$font-weight-semi-bold: $font-weight-bold !default;
