// :copyright: Copyright (c) 2019 ftrack

.field {
  float: right;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.on,
.off {
  margin-top: 0;
}

.field.fieldTwoLines {
  margin-top: $font-size-small;
}
