// :copyright: Copyright (c) 2018 ftrack

// Disabled items have two lines, vertically align content.
.disabled {
  height: 4rem;
  display: flex;
  align-items: center;
}
.disabled .text {
  line-height: 1.5;
}

// Fix issues due to resizing of html font-size.
// Can be removed if we remove global resizing

.radio,
.radioChecked {
  width: 20px;
  height: 20px;
  border-width: 2px;
}
