// :copyright: Copyright (c) 2019 ftrack

.description {
  color: $color-text-secondary;
  padding-bottom: $spacing-2;
}

.spinner {
  display: block;
  margin: $spacing-2 auto $spacing-small;
}

.radio-container {
  margin-top: -$spacing;
}

.radio-buttons {
  margin-top: $spacing;
}

.no-user {
  color: $color-text-faded;
  font-size: $font-size;
}

.name {
  font-weight: $font-weight-bold;
}
