// :copyright: Copyright (c) 2018 ftrack

$color-primary: $color-purple-400 !default;
$color-primary-contrast: $color-light-contrast-high-emphasis !default;

$color-text: $color-dark-contrast-high-emphasis !default;
$color-text-secondary: $color-dark-contrast-medium-emphasis !default;
$color-text-faded: $color-dark-contrast-medium-emphasis !default;
$color-text-primary: $color-purple-400 !default;
$color-text-error: $color-red-400 !default;

$color-text-light: $color-light-contrast-high-emphasis !default;
$color-text-light-faded: $color-light-contrast-medium-emphasis !default;
$color-text-light-primary: $color-purple-200 !default;
$color-text-contrast: $color-light-contrast-high-emphasis;

$color-background: $color-background-light-default !default;
$color-background-nav: $color-background-light-paper;
$color-background-contained: $color-background-light-paper !default;
$color-background-raised: $color-background-light-paper !default;
$color-background-contrast: $color-text !default;
$color-background-empty-state: $color-dark-contrast-faded !default;
$color-background-over: mix(
  $color-background-contrast,
  $color-background,
  6%
) !default;
$color-background-raised-over: mix(
  $color-background-contrast,
  $color-background-raised,
  6%
) !default;
$color-background-overlay: $color-dark-contrast-high-emphasis;
$color-image-overlay: $color-dark-contrast-medium-emphasis;
$color-background-dark-1: $color-background-dark-default !default;
$color-background-dark-2: $color-background-dark-paper !default;
$color-background-dark-3: $color-neutral-800 !default;

$color-divider: $color-dark-contrast-faded !default;
$color-border-default: $color-dark-contrast-faded !default;
$color-border-contrast: $color-dark-contrast-faded !default;
$color-border-faded: $color-dark-contrast-faded !default;
$color-border-raised: $color-dark-contrast-faded !default;
$color-border-contained: $color-dark-contrast-faded !default;
$color-circle-user: $color-blue-500 !default;
$avatar-background: $color-neutral-300 !default;
$today-zone-background-color: $color-purple-100 !default;
$today-zone-text-color: $color-text-primary !default;
$appbar-alternative-color: $color-purple-100 !default;
$skeleton-background-color: $color-dark-contrast-faded !default;
$skeleton-highlight-color: $color-dark-contrast-faded !default;
$menu-drop-down-background-color: $color-background-light-default !default;

$color-green-accent: $color-green-600;
$color-purple-accent: $color-purple-400;

// Accent colors aren't used
$color-accent: $color-primary !default;
$color-accent-contrast: $color-primary-contrast !default;
$color-accent-2: $color-teal-600 !default;
$color-primary-dark: $color-red-400 !default;
$color-primary-light: $color-green-600 !default;
$color-new-blue: $color-teal-600 !default;
$color-negative: $color-red-400 !default;
$color-positive: $color-green-600 !default;
