// :copyright: Copyright (c) 2020 ftrack

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.icon-tiny {
  font-size: 48px;
}

.icon-small {
  font-size: 64px;
}

.icon-medium {
  font-size: 96px;
}

.icon-large {
  font-size: 256px;
}

.icon-playlist {
  font-size: 56px;
}

%label {
  color: $color-background;
  position: absolute;
  text-transform: uppercase;
}

%spinner {
  position: absolute;
  margin-top: $spacing;
}

.spinner-tiny {
  @extend %spinner;
  height: 20px;
}

.spinner-small {
  @extend %spinner;
  height: 25px;
}

.spinner-medium {
  @extend %spinner;
  height: 25px;
}

.spinner-large {
  @extend %spinner;
  margin-top: $spacing-2;
}

.spinner-playlist {
  @extend %spinner;
  margin-top: 0.8rem;
  height: 16px;
}

.label-tiny {
  @extend %label;
  font-size: 12px;
  margin-top: $spacing;
}

.label-small-long-text {
  @extend %label;
  font-size: 8px;
}

.label-small {
  @extend %label;
  font-size: 14px;
  margin-top: $spacing;
}

.label-small-long-text {
  @extend %label;
  font-size: 10px;
}

.label-medium {
  @extend %label;
  font-size: 20px;
  margin-top: $spacing;
}

.label-medium-long-text {
  @extend %label;
  font-size: $font-size;
}

.label-large {
  @extend %label;
  font-size: 64px;
  margin-top: $spacing-2;
}

.label-large-long-text {
  @extend %label;
  font-size: 40px;
}

.label-playlist {
  @extend %label;
  font-size: 14px;
  margin-top: $spacing;
}

.label-playlist-long-text {
  @extend %label;
  font-size: 9px;
}
