// :copyright: Copyright (c) 2019 ftrack
@import "~react-toolbox/lib/_mixins.scss";

.root {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: $spacing-small;
  display: flex;
  flex-direction: column;
  background-color: $color-image-overlay;
}

.root:hover {
  opacity: 1;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.visibilityHover {
  @include material-animation-default();
  transition-property: opacity;
  opacity: 0;
}

.visibilityHover:hover {
  opacity: 1;
}
