// :copyright: Copyright (c) 2018 ftrack

.attribute-group-label {
  text-transform: lowercase;
  display: inline-block;
}

.attribute-group-label:first-letter {
  text-transform: uppercase;
}

.attribute-label {
  display: inline-block;
}

.attribute-label-capitalized {
  text-transform: lowercase;
}

.attribute-label-capitalized :first-letter {
  text-transform: uppercase;
}

.attribute-label-uppercase {
  text-transform: uppercase;
  font-weight: $font-weight-bold; // TODO: Consider moving to separate style/prop.
}

.disable-text-selection {
  user-select: none;
}
