// :copyright: Copyright (c) 2017 ftrack

$droppable-area-background-color: mix(
  $color-background-contrast,
  $color-background-raised,
  6%
) !default;
$droppable-area-border-color: $color-divider !default;
$droppable-area-text-color: $color-text !default;
$droppable-area-text-color-highlight: $color-text-primary !default;
$droppable-area-color-active: $color-positive !default;
$droppable-area-color-reject: $color-negative !default;
$droppable-area-dark-background-color: rgba(
  $color-background-dark-2,
  0.7
) !default;
$droppable-area-dark-text-color: $color-text-light !default;
$droppable-area-dark-text-color-highlight: $color-purple-200 !default;
$droppable-area-padding: $spacing !default;
$drobbable-area-icon-color: $color-purple-200 !default;
