// :copyright: Copyright (c) 2018 ftrack

// Mapping for React toolbox
$color-white: $color-neutral-100 !default;
$color-black: $color-neutral-800 !default;

$color-background-hover: $color-background-over !default;

$background-color-warning: $color-yellow-200 !default;
$background-color-alert: $color-red-200 !default;

$appbar-color: $color-background !default;
$appbar-contrast: $color-text !default;

$avatar-color: $color-white !default;
$button-neutral-color: $color-background-dark-3 !default;
$button-neutral-color-contrast: $color-text !default;
$button-neutral-color-hover: rgba($color-text, 0.2) !default;
$button-primary-color-contrast: $color-primary-contrast !default;
$button-primary-color-hover: rgba($color-primary, 0.2) !default;
$button-primary-color: $color-text-primary !default;

$button-accent-color-contrast: $color-primary-contrast !default;
$button-accent-color-hover: rgba($color-accent, 0.2) !default;
$button-accent-color: $color-accent !default;

$button-disabled-text-color: rgba($color-white, 0.3) !default;
$button-disabled-background-color: rgba($color-white, 0.12) !default;
$card-color-white: $color-white !default;
$card-text-overlay: rgba($color-black, 0.35) !default;
$card-background-color: $color-background-raised;
$checkbox-color: $color-primary !default;
$checkbox-disabled-color: rgba($color-white, 0.3) !default;
$checkbox-focus-checked-color: rgba($color-primary, 0.26) !default;
$checkbox-focus-color: rgba($color-white, 0.1) !default;
$checkbox-text-color: $color-text-secondary !default;
$checkbox-color-list-item: white !important;
$checkbox-color-list-item-checked: $color-background !important;
$chip-background: $color-background-raised-over !default;
$chip-color: $color-text-secondary !default;
$chip-remove-background: mix(
  $color-background-contrast,
  $chip-background,
  12%
) !default;
$chip-remove-background-hover: mix(
  $color-background-contrast,
  $chip-background,
  18%
) !default;
$chip-remove-color: $color-text-faded !default;

$datepicker-primary: $color-primary;
$datepicker-primary-contrast: $color-primary-contrast;
$datepicker-primary-dark: $color-primary-dark;
$datepicker-primary-color: $datepicker-primary !default;
$datepicker-primary-hover-color: rgba($datepicker-primary, 0.2) !default;
$datepicker-primary-contrast-color: $datepicker-primary-contrast !default;
$datepicker-primary-dark-color: $datepicker-primary-dark !default;
$calendar-primary: $color-primary;
$calendar-primary-contrast: $color-primary-contrast;
$calendar-primary-color: $calendar-primary !default;
$calendar-primary-contrast-color: $color-background-raised !default;
$calendar-primary-hover-color: rgba($calendar-primary, 0.21) !default;
$calendar-arrows-color: $color-background-raised !default;
$dialog-color-title: $color-white !default;
$dialog-color-white: $color-background-raised !default;
$drawer-background-color: $color-background-raised !default;
$drawer-border-color: $color-background-raised !default;
$drawer-text-color: $color-text-secondary !default;
$dropdown-color-white: $color-background-raised;
$dropdown-color-primary: $color-primary;
$dropdown-color-primary-contrast: $color-primary-contrast;
$dropdown-value-hover-background: $color-background-raised;
$input-text-background-color: transparent !default;
$input-text-label-color: rgba($color-white, 0.3) !default;
$input-text-bottom-border-color: rgba($color-white, 0.12) !default;
$input-text-highlight-color: $color-primary !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: $color-text-error !default;
$list-item-hover-color: $color-background-raised-over !default;
$menu-background-color: $color-background-dark-raised;
$menu-item-hover-background: $color-light-contrast-highlighted !default;
$navigation-color: $color-black !default;
$overlay-color: $color-background !default;
$overlay-opacity: 0.6 !default;
$progress-main-color: $color-primary !default;
$radio-inner-color: $color-primary !default;
$radio-focus-color: rgba($color-white, 0.1) !default;
$radio-checked-focus-color: rgba($color-primary, 0.26) !default;
$radio-text-color: $color-white !default;
$radio-disabled-color: rgba($color-white, 0.3) !default;
$ripple-final-opacity: 0.1 !default;
$slider-main-color: $color-primary !default;
$slider-main-color-contrast: $color-primary-contrast !default;
$slider-snap-color: $color-black !default;
$snackbar-color-cancel: $color-negative !default;
$snackbar-color-accept: $color-text-primary !default;
$snackbar-color-warning: $color-yellow !default;
$snackbar-background-color: black !default;
$snackbar-color: $color-white !default;
$switch-color: $color-primary !default;
$switch-text-color: $color-text !default;
$switch-thumb-off-color: $color-text !default;
$switch-track-on-color: rgba($color-primary, 0.5) !default;
$switch-track-off-color: rgba($color-white, 0.3) !default;
$switch-off-ripple-color: rgba($color-white, 0.4) !default;
$switch-on-focus-color: rgba($color-primary, 0.26) !default;
$switch-off-focus-color: rgba($color-white, 0.1) !default;
$switch-disabled-thumb-color: rgba($switch-thumb-off-color, 0.5) !default;
$switch-disabled-track-color: rgba($color-white, 0.1) !default;
$switch-disabled-text-color: rgba($color-white, 0.2) !default;
$switch-thumb-on-color: $switch-color !default;
$table-background-color: $color-background !default;
$table-background-color-hover: $color-light-contrast-highlighted !default;
$table-text-color: $color-text-secondary;
$tab-navigation-border-color: $color-divider;
$tab-pointer-color: $color-text-primary !default;
$tab-text: $color-white !default;
$tab-text-color: $tab-text !default;
$tab-text-inactive-color: $color-text-faded !default;
$timepicker-primary: $color-primary;
$timepicker-primary-contrast: $color-primary-contrast;
$timepicker-primary-dark: $color-primary-dark;
$timepicker-primary-color: $timepicker-primary !default;
$timepicker-primary-hover-color: rgba($timepicker-primary, 0.2) !default;
$timepicker-primary-contrast-color: $timepicker-primary-contrast !default;
$timepicker-primary-dark-color: $timepicker-primary-dark !default;
$clock-primary: $color-primary;
$clock-primary-contrast: $color-primary-contrast;
$clock-primary-dark: $color-primary-dark;
$clock-primary-color: $clock-primary !default;
$clock-primary-hover-color: rgba($clock-primary, 0.2) !default;
$clock-primary-contrast-color: $clock-primary-contrast !default;
$clock-primary-dark-color: $clock-primary-dark !default;
$tooltip-color: #fff !default;
$tooltip-background: #000 !default;

$menu-border-width: 1px !default;
$menu-border-style: solid !default;
$menu-border-color: $color-light-contrast-faded !default;
