// :copyright: Copyright (c) 2018 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
$table-row-divider: solid 1px $color-divider !default;
$table-row-offset: 1.8 * $unit !default;

.markdown {
  @include typo-body-1;
  color: $color-text-secondary;
  line-height: $unit * 2;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include typo-body-1;
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  strong,
  a {
    color: $color-text;
    font-weight: $font-weight-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  table,
  blockquote,
  pre {
    margin-bottom: $spacing-small;
  }

  code,
  pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    padding: 0.2em 0.4em;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 2px;
  }

  pre {
    word-wrap: normal;
    overflow: auto;
    padding: $spacing-small;
  }

  pre > code {
    word-break: normal;
    white-space: pre;
    background: transparent;
    padding: 0;
  }

  ul,
  ol {
    padding-left: $spacing;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }

  img {
    max-width: 100%;
    max-height: 480px;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    text-align: left;
    border-spacing: 0;
  }

  table th {
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  table th,
  table td {
    padding: $spacing-small $table-row-offset;
    border-bottom: $table-row-divider;
  }

  blockquote {
    font-style: italic;
    padding-left: $spacing;
    border-left: 2px solid $color-divider;
  }

  hr {
    border-top: 1px solid $color-divider;
    margin: $spacing 0;
  }
}

.size-large {
  @include typo-headline;
  font-weight: $font-weight-thin;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include typo-display-1;
    font-weight: $font-weight-thin;
  }

  p {
    @include typo-headline;
    font-weight: $font-weight-thin;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  table,
  blockquote,
  pre {
    margin-bottom: $spacing;
  }

  code,
  pre {
    padding: 0.2em 0.4em;
  }

  pre {
    padding: $spacing-small;
  }

  ul,
  ol {
    margin-left: $spacing-2;
  }

  table th,
  table td {
    padding: $spacing-small $table-row-offset;
  }

  blockquote {
    padding-left: $spacing;
  }

  hr {
    margin: $spacing 0;
  }
}

.tooltip-label {
  margin-left: $spacing-tiny;
}
