// :copyright: Copyright (c) 2018 ftrack

.dialog {
  width: 1000px;
  height: 500px; // Same height as .row
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  padding: 0;
  flex: 1;

  background-image: linear-gradient(45deg, rgb(48, 23, 48), rgb(40, 46, 52));
  border-radius: $spacing-small;
}

.scroll {
  overflow: inherit;
}
