// :copyright: Copyright (c) 2018 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";

.swipableWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  width: 1000px;
  position: relative;
  cursor: grab;
  border-radius: $spacing-small;
}

.swipableWrapper:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  width: 50%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.03)
  );
  transform: rotate(45deg);
  border-radius: $spacing-small;
}

.swipableWrapper:active {
  cursor: grabbing;
}

.singleStep {
  cursor: auto;
}

.row {
  display: flex;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.contentWrapper {
  flex: 1;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.pictureWrapper {
  width: 50%;
}

.imageRight .contentWrapper {
  padding: $spacing-4 0 $spacing-2 $spacing-2;
  left: 0;
}

.imageLeft .contentWrapper {
  padding: $spacing-4 $spacing-2 $spacing-2 0;
  right: 0;
}

.heading {
  margin-bottom: $spacing;
}

.text {
  color: rgba($color-text-light, 0.7);
}

.noImage .contentWrapper {
  margin: auto;
  padding: $spacing-4;
  text-align: center;
  position: relative;
}

.noImage .heading {
  text-align: center;
}

.contentWrapper .text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  a,
  table,
  th {
    color: $color-text-light;
  }
}

.noImage ul {
  margin: auto;
  display: inline-block;
  text-align: left;
}

.noImage .text {
  margin: 0 auto;
  color: $color-text-light-faded;
}

.imageLeft .pictureWrapper {
  padding: $spacing-4 $spacing-4 0 0;
  left: 0;
}

.imageRight .pictureWrapper {
  padding: $spacing-4 0 0 $spacing-4;
  margin-left: auto;
  margin-right: 0;
}

.image {
  height: 100%;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: $color-dark-4;
}

.imageRight .image {
  border-top-left-radius: 8px;
  right: 0;
  box-shadow: 7px 17px 21px 14px rgba(0, 0, 0, 0.2),
    4px 10px 30px 6px rgba(0, 0, 0, 0.19);
}

.imageRight .image:before {
  background-image: url(./images/stripedImage.png);
  display: block;
  content: "";
  position: absolute;
  top: -$spacing-4;
  right: 0;
  width: 70%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}

.imageLeft .image {
  border-top-right-radius: 8px;
  box-shadow: 7px 17px 21px 10px rgba(58, 53, 53, 0.2),
    4px 10px 30px 6px rgba(0, 0, 0, 0.4);
}

.imageLeft .image:before {
  background-image: url(./images/stripedImage.png);
  display: block;
  content: "";
  position: absolute;
  top: -$spacing-4;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}

.leftBtn {
  margin-left: -8.8rem;
  margin-right: 4.8rem;
  flex-shrink: 0;
}

.rightBtn {
  margin-right: -8.8rem;
  margin-left: 4.8rem;
  flex-shrink: 0;
  background-color: $color-background-dark-3;
}

.stepWrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: $spacing;
}

.stepper {
  @include shadow-16dp();
  background-color: $color-text-light-faded;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.stepperActive {
  background-color: $color-primary;
}

.buttonContainer {
  text-align: center;
  margin-top: 3em;
}
