// :copyright: Copyright (c) 2019 ftrack
@import "~react-toolbox/lib/_mixins.scss";

.root {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include material-animation-default();
  transition-property: opacity;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.loaded {
  opacity: 1;
}
