// :copyright: Copyright (c) 2019 ftrack

.root {
  overflow: hidden;
}

.positionRelative {
  position: relative;
}

.positionAbsolute {
  position: absolute;
}

.small {
  width: 14.4rem;
  height: 8rem;
}

.rounded {
  border-radius: 2px;
}

.tiny {
  height: 5.2rem;
  width: 9.6rem;
}

.extra-tiny {
  height: 4.8rem;
  width: 6.4rem;
}
