// :copyright: Copyright (c) 2019 ftrack

.switch-field {
  padding: $spacing 0 0;
}

.switch-field-title {
  color: $color-text;
  font-size: $font-size-normal;
  font-weight: $font-weight-semi-bold;
}

.switch-field-description {
  color: $color-text-secondary;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  padding-right: $spacing-3;
}

.helpIcon {
  opacity: 0;
  transition: opacity 0.1s ease;
  margin-bottom: $spacing-tiny / 2;
}

.switch-field:hover .helpIcon {
  opacity: 0.5;
}
