$card-padding: 1.6 * $unit !default;
$button-floating-mini-height: $unit * 4 !default;
$selected-border-width: 2px;
$attribute-value-height: 24px !default;

%thumb-overlay-highlight {
  background: rgba($color-black, 0.5);

  .card-checkbox {
    transform: scale3d(1, 1, 1);
  }
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  position: relative;
  box-shadow: none;
  border: 1px solid $color-border-raised;

  &.card-selected {
    border: solid $selected-border-width $color-primary;
    width: calc(26rem + #{$selected-border-width});
    margin: calc(#{$card-padding} - (#{$selected-border-width} / 2));

    .card-checkbox {
      > div {
        border-color: $color-primary;
      }
    }
  }

  .card-menu {
    z-index: 1;
    transition: all 0.15s ease;
    display: block;
    position: absolute;
    top: 0.5 * $card-padding;
    right: 0.5 * $card-padding;

    button {
      color: $color-text-light !important;
      transition: all 0.15s ease;
      transform: scale3d(0, 0, 1);
    }
  }
}

.card-thumb-overlay {
  transition: all 0.15s ease;
  display: block;
  position: absolute;
  width: 100%;
  height: 14.4rem; // Same height as CardMedia
  background: transparent;
  top: 0;
  left: 0;
  padding: $card-padding;

  .card-checkbox {
    position: absolute;
    left: $card-padding;
    top: $card-padding;
    transition: all 0.15s ease-out;
    transform: scale3d(0, 0, 1);

    > div {
      border-color: $color-text-light;
    }
  }

  &.card-thumb-overlay-highlighted {
    @extend %thumb-overlay-highlight;
  }
}

.button-container {
  display: none;
}

.card:hover .button-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  [data-react-toolbox="font-icon"] {
    font-size: 6.4rem;
  }

  button {
    color: $color-light-contrast-high-emphasis !important;
    width: 8rem;
    height: 8rem;
  }
}

.card:hover {
  .card-menu {
    button {
      transform: scale3d(1, 1, 1);
    }
    &.card-selected {
      button {
        transform: scale3d(0, 0, 1);
      }
    }
  }

  .card-thumb-overlay {
    @extend %thumb-overlay-highlight;
  }
}

.menu {
  position: absolute;
  z-index: 1;
  right: 0;
}

.card-title-group {
  padding: $spacing $card-padding;
  position: relative;
}

.card-title {
  position: relative;
  min-height: $attribute-value-height;
  font-weight: normal;
  cursor: pointer;
  line-height: 1.2;

  composes: text-truncate;
}

.card-title-subtitle {
  position: relative;
  min-height: $attribute-value-height;
  composes: text-truncate;
  color: $color-text-faded;
  font-weight: lighter;
  font-size: $font-size-normal;
  letter-spacing: initial;
}

.card-color-fab {
  position: absolute;
  top: -$button-floating-mini-height / 2;
  right: $spacing-small;

  // Disable default behaviour.
  pointer-events: none;
}

.card-text {
  padding: 0 $card-padding $spacing-small;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.attribute-item {
  width: 45%;
  width: calc(50% - $spacing-small);
  margin-bottom: $spacing;
  composes: text-truncate;
}

.full-width {
  width: 100%;
}

.attribute-title {
  font-weight: bolder;
  font-size: 10px;
  color: $color-text-faded;
  line-height: $spacing;
}

.attribute-upper-case {
  text-transform: uppercase;
}

.attribute-value {
  font-weight: 400;
  font-size: small;
  color: $color-text;
  position: relative;
  height: $attribute-value-height;
  line-height: $attribute-value-height;
  overflow: hidden;
  text-overflow: ellipsis;
}
