// :copyright: Copyright (c) 2016 ftrack
@import "~react-toolbox/lib/_mixins.scss";

.root {
  margin-bottom: $spacing;
  cursor: pointer;
}

.icon {
  @include material-animation-default();
  transform: rotate(0);
  transition-property: transform;
}

.iconActive {
  composes: icon;
  transform: rotate(180deg);
}
