// :copyright: Copyright (c) 2020 ftrack

.toggle:after {
  content: "";
  display: block;
  position: absolute;
  background: $color-background;
  top: 6px;
  bottom: 8px;
  left: 50%;
  width: 2px;
  border-radius: 4px;
  transform: rotate(-45deg);
  border-left: 2px solid currentColor;
}
