// :copyright: Copyright (c) 2019 ftrack

.progressBar {
  height: 0.7em;
  border-radius: 2px;
  margin: $spacing-small 0 $spacing-small 0;
}

.textStyles,
.percentage {
  font-size: $font-size-normal;
}

.primaryText,
.secondaryText,
.approvedText,
.requireChangesText,
.seenText {
  float: left;
  font-weight: $font-weight-bold;
}

.primaryPercentage,
.secondaryPercentage,
.approvedPercentage,
.requireChangesPercentage,
.seenPercentage {
  float: right;
  font-weight: $font-weight-bold;
}

.primaryText,
.primaryPercentage {
  color: $color-text-primary;
}

.secondaryText,
.secondaryPercentage {
  color: $color-text-secondary;
}

.approvedText,
.approvedPercentage {
  color: $color-positive;
}

.requireChangesText,
.requireChangesPercentage {
  color: $color-negative;
}

.seenText,
.seenPercentage {
  color: $color-new-blue;
}
