// :copyright: Copyright (c) 2019 ftrack

.subtitle {
  margin-top: $spacing-large;
  padding-bottom: $spacing;
  color: $color-text-secondary;
}

.inner-wrapper {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

.links {
  color: $color-text-primary;
}

.box {
  padding: $spacing-large 0 $spacing-large;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid $color-divider;
}

.inner-text {
  color: $color-text-secondary;
}

.image-container {
  margin-right: $spacing-large;
  text-align: center;
  min-width: 128px;
}

.icon {
  font-size: 100px;
  color: $color-text;
}

.reveal-text {
  margin-top: $spacing-small;
}

.code {
  margin: $spacing-small 0;
}

.close-dialog-button {
  margin-top: $spacing-2;
}

.input {
  width: 20rem;
  vertical-align: middle;
  margin-right: $spacing-tiny;
  display: inline-block;
  font-size: $font-size-small;
  color: $color-text-light;
}

.success-content {
  max-width: 40rem;
  margin: auto;
}

.checkbox {
  border: 1px solid $color-positive;
  border-radius: 50%;
  color: $color-positive;
  padding: $spacing;
  margin-bottom: $spacing-2;
  border-width: $spacing-tiny;
  font-size: $spacing-3;
}

.close-button {
  position: absolute;
  right: $spacing;
  top: $spacing;
}

.generic-error {
  color: $color-text-error;
}

.spinner {
  transform: scale(0.5);
  width: 128px;
  height: 128px;
  float: left;
}

.verify-button {
  vertical-align: middle;
}
