// :copyright: Copyright (c) 2019 ftrack

.item {
  min-height: 6.4rem;
  padding: 0;
}

// Ensure list text has nowrap/ellipsis.
.itemContentRoot {
  min-width: 0;
}

.itemText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemText:not(.primary) {
  white-space: nowrap;
}
