// :copyright: Copyright (c) 2019 ftrack

.select-users-label,
.select-roles-label {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  color: $color-text-secondary;
}

.users-description {
  color: $color-gray-light;
  margin-top: $spacing-small;
}

.users-fields {
  padding-top: $spacing-2;
  display: flex;
}

.select-user-field {
  flex: 1;
  margin-right: $spacing-2;
}

.select-roles-field {
  flex: 1;
}

.text-hint {
  font-size: $font-size-small;
  color: $color-text-faded;
}

.avatar {
  width: 4rem !important;
  height: 4rem !important;
  vertical-align: top;
}

.add-button {
  min-width: 0px;
  margin-top: auto;
  margin-left: $spacing;
  margin-right: -1.2rem;
}

.spinner {
  display: block;
  margin: $spacing-2 auto;
}

.userList {
  flex: 1;
  overflow: auto;
}
