// :copyright: Copyright (c) 2016 ftrack

.outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: rgba($color-background, 0.9);

  transition: transform 0.1s ease;
  transform: translate3d(0, -1000px, 0);
  visibility: hidden;
  z-index: 1;
}

.fixed {
  position: fixed;
}

.active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.inner {
  flex: 1;
}

.loader {
  margin: 2rem;
}

.message {
  margin: 2rem;
  color: $color-text-secondary;
}

.details {
  composes: message;
  font-size: $font-size-small;
}

.icon {
  margin-top: -5.6rem;
  margin-bottom: $spacing;
  font-size: 5.6rem;
  color: $color-text-secondary;
}
