@import "~@ftrack/react-toolbox/lib/globals";
@import "~@ftrack/react-toolbox/lib/chip/_config";
@import "~@ftrack/react-toolbox/lib/menu/_config";
@import "~@ftrack/react-toolbox/lib/input/_config";

$select-item-border-radius: 1.4 * $unit;
$select-item-color: $color-text-secondary;
$select-item-bg: $chip-background;
$select-item-border-color: $chip-background;
$select-item-padding-vertical: 0.6 * $unit;
$select-item-padding-horizontal: 0.6 * $unit;
$select-item-font-size: $chip-font-size;
$select-item-gutter: 3px;

$select-padding-horizontal: 0;

$select-background: $color-white !default;
$select-input-bg: $select-background !default;
$select-input-bg-disabled: $select-background !default;
$select-input-border-color: $input-text-bottom-border-color !default;
$select-input-border-radius: 0 !default;
$select-input-border-focus: $input-text-highlight-color !default;
$select-input-border-width: 1px !default;
$select-input-height: 33px !default;
$select-input-internal-height: (
  $select-input-height - ($select-input-border-width * 2)
) !default;
$select-input-placeholder: $input-text-label-color !default;
$select-input-font-size: $input-field-font-size !default;
$select-text-color: $color-text !default;
$select-link-hover-color: $select-input-border-focus !default;

$menu-item-font-size: $font-size-large;

$select-option-color: $select-text-color !default;
$select-option-bg: $menu-background-color !default;
$select-option-focused-color: $select-text-color !default;
$select-option-focused-bg: $menu-item-hover-background !default;
$select-option-selected-color: $select-text-color !default;
$select-option-selected-bg: $menu-item-selected-background !default;
$select-option-disabled-color: rgba($select-text-color, 75%) !default;

$select-clear-color: $color-text-secondary !default;
$select-clear-hover-color: $color-text !default; // red

$select-noresults-padding-vertical: $menu-item-padding !default;
$select-noresults-padding-horizontal: $menu-item-padding !default;

$select-arrow-color: $select-input-border-color !default;
$select-arrow-color-hover: $color-text-secondary !default;
$select-arrow-width: 4px !default;
