//
// Multi-Select
// ------------------------------

// Base

.Select--multi {
  // add margin to the input element
  .Select-input {
    vertical-align: middle;
    // border: 1px solid transparent;
    margin-left: $chip-margin-right;
    padding: 0;
  }

  // Items
  .Select-value {
    position: relative;
    display: inline-block;
    padding: 0 $chip-padding;
    margin: $chip-margin-right;
    font-size: $chip-font-size;
    line-height: $chip-height;
    color: $chip-color;
    background-color: $chip-background;
    border-radius: $chip-height;

    padding-right: $chip-remove-size + $chip-remove-margin;
  }

  // common
  .Select-value-icon,
  .Select-value-label {
    display: inline-block;
    vertical-align: middle;
  }

  // label
  .Select-value-label {
    cursor: default;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }

  a.Select-value-label {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .Select-value-icon {
    position: absolute;
    display: inline-block;
    width: $chip-remove-size - 2 * $chip-remove-margin;
    height: $chip-remove-size - 2 * $chip-remove-margin;
    padding: 0;
    text-align: center;
    margin: 2 * $chip-remove-margin;
    line-height: 1;
    cursor: pointer;

    background: $chip-remove-background;
    border-radius: $chip-remove-size;
    color: $chip-remove-color;
    font-weight: bold;
    font-size: $chip-remove-size - 2 * $chip-remove-margin;

    right: 0;
    vertical-align: top;

    &:hover {
      background-color: $chip-remove-background-hover;
    }
  }
}

.Select--multi.is-disabled {
  .Select-value {
    background-color: $select-item-disabled-bg;
    // border: 1px solid $select-item-disabled-border-color;
    color: $select-item-disabled-color;
  }
  // icon
  .Select-value-icon {
    cursor: not-allowed;
    // border-right: 1px solid $select-item-disabled-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $select-item-disabled-bg;
    }
  }
}
