// :copyright: Copyright (c) 2019 ftrack

.neutral:not([disabled]) {
  &.flat {
    color: $color-text-light;
    &:focus:not(:active) {
      background: $color-background-dark-3;
    }
  }
  &.flat:hover {
    background: $color-background-dark-3;
  }
}
