// :copyright: Copyright (c) 2019 ftrack
@import "~@ftrack/react-toolbox/lib/button/_config.scss";

$trial-expiry-button-label-height: 2.4rem;

.label {
  display: inline-block;
  padding: 0 $spacing-small;
  margin-top: ($button-height - $trial-expiry-button-label-height) / 2;
  margin-left: $spacing-small;
  line-height: $trial-expiry-button-label-height;
  border-radius: $trial-expiry-button-label-height / 2;
  background-color: $color-primary;
  color: $color-primary-contrast;
  font-weight: $font-weight-semi-bold;
}
