// :copyright: Copyright (c) 2018 ftrack

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: $spacing-tiny;
  left: $spacing;
  right: $spacing-small;
  bottom: $spacing-tiny;
}

.image.compact {
  top: 0px;
  bottom: 0px;
}

.button-container {
  display: none;
}

$play-button-large: 5rem;
$play-button-medium: 3.6rem;
$play-button-small: 2.4rem;

.sentence-case::first-letter {
  text-transform: capitalize;
}

.image.compact:hover .button-container {
  [data-react-toolbox="font-icon"] {
    font-size: $play-button-small;
    line-height: $play-button-small;
  }

  button {
    color: $color-white !important;
    width: $play-button-small;
    height: $play-button-small;
  }
}

.image.large:hover .button-container {
  [data-react-toolbox="font-icon"] {
    font-size: $play-button-large;
    line-height: $play-button-large;
  }

  button {
    color: $color-white !important;
    width: $play-button-large;
    height: $play-button-large;
  }
}

.image:hover .button-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba($color-black, 0.5);

  [data-react-toolbox="font-icon"] {
    font-size: $play-button-medium;
  }

  button {
    color: $color-white !important;
    width: $play-button-medium;
    height: $play-button-medium;
  }
}

.attribute-priority-status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  white-space: nowrap;

  > span {
    margin: 4px;
    min-width: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    text-transform: none;
    letter-spacing: initial;
  }
}

.link-formatter-with-click {
  font-weight: $font-weight-bold;
}

.link-formatter-with-click:hover {
  text-decoration: underline;
  cursor: pointer;
}

.color {
  height: 100%;
  min-width: 4px;
  border-radius: 2px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: $spacing-tiny;
}

.comma {
  margin-right: $spacing-small;
}

.loadingState {
  width: 6.4rem;
}
