// :copyright: Copyright (c) 2018 ftrack

// Global defaults used
$color-text: $color-black !default;
$color-text-secondary: rgba($color-black, 0.7) !default;
$unit: 1rem !default;
$spacing-normal: 1.6 * $unit !default;

$entity-link-color-entity: $color-text !default;
$entity-link-color-parent: $color-text-secondary !default;
$entity-link-color-ancestors: $color-text-secondary !default;
$entity-link-padding-right: $spacing-normal !default;
