// :copyright: Copyright (c) 2018 ftrack

// Mapping for React toolbox
$color-white: $color-neutral-100 !default;
$color-black: $color-neutral-800 !default;

$color-background-hover: $color-background-over !default;

$background-color-warning: $color-yellow-400 !default;
$background-color-alert: $color-red-400 !default;

$table-background-color: $color-background !default;
$table-background-color-hover: $color-dark-contrast-highlighted !default;
$table-text-color: $color-text-secondary !default;

$drawer-background-color: $color-background-raised !default;
$drawer-border-color: $color-divider !default;

$input-text-error-color: $color-text-error !default;

$tooltip-background: #000 !default;
$snackbar-background-color: #000 !default;

$checkbox-color-list-item: $color-text-light-faded;
$checkbox-color-list-item-checked: white !important;

$menu-border-width: 1px !default;
$menu-border-style: solid !default;
$menu-border-color: $color-background-raised !default;
