// :copyright: Copyright (c) 2016 ftrack
@import "./config";

.entity {
  color: $entity-link-color-entity;
  font-weight: $font-weight-semi-bold;

  p {
    line-height: 1.6rem;
  }
}

.entity-parent {
  color: $entity-link-color-parent;
}

.entity-ancestors {
  color: $entity-link-color-ancestors;
  font-weight: $font-weight-thin;
  font-size: $font-size-small;
}

.entity-link {
  padding-right: $entity-link-padding-right;
  min-width: 0; // Ensure contents do not overflow in flex layouts
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40em;
}

.colorLight {
  .entity {
    color: $color-text-light;
  }

  .entityParent {
    color: $color-text-light-faded;
  }

  .entityAncestors {
    color: $color-text-light-faded;
  }
}

.entity,
.entity-parent,
.entity-ancestors {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
