// :copyright: Copyright (c) 2016 ftrack
@import "~@ftrack/react-toolbox/lib/colors";
@import "~@ftrack/react-toolbox/lib/globals";
@import "~@ftrack/react-toolbox/lib/mixins";
@import "~@ftrack/react-toolbox/lib/input/_config";
@import "~@ftrack/react-toolbox/lib/chip/_config";
@import "./token/design_tokens.scss";

@import "~normalize.css";

// React Toolbox commons.scss
html {
  font-size: 62.5%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-large;
  -webkit-touch-callout: none;
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:not([type="checkbox"]):not([type="radio"]),
button {
  outline: none;
  appearance: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// -- Remove firefox default style for required inputs
input[required]:-moz-ui-invalid {
  box-shadow: none;
}

// -- Material design font sizes
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  @include typo-display-3($color-contrast: true);
}

h1 {
  @include typo-display-3;
}

h2 {
  @include typo-display-2;
}

h3 {
  @include typo-display-1;
}

h4 {
  @include typo-headline;
}

h5 {
  @include typo-title;
}

h6 {
  @include typo-subhead;
}

p {
  @include typo-body-1;
}

// Our global styles

:global {
  /** Set global colors */
  body {
    background: $color-background;
    color: $color-text;
  }

  /** Body element should not scroll, elements beneath will */
  body {
    height: 100%;
    overflow: hidden;
  }

  // Adjust line-height for body text.
  // TODO: Remove once fixed in react-toolbox
  p {
    line-height: 2rem;
  }

  /** Links */
  a {
    color: inherit;
    font-weight: $font-weight-semi-bold;
  }

  a:hover {
    text-decoration: underline;
  }

  input,
  textarea,
  select,
  button {
    color: $color-text;
  }

  // Input placeholder color
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $input-text-label-color;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $input-text-label-color;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $input-text-label-color;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $input-text-label-color;
  }

  /* Only include scrollbar styling for dark theme */
  @if ($theme == "dark") {
    @media (hover: hover) and (pointer: fine) {
      ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 100px;
        &:hover {
          background: rgba($color-text, 0.05);
        }
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: rgba($color-text, 0.3);

        &:active {
          background: rgba($color-text, 0.6);
        }
      }

      ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba($color-text, 0.2);
      }

      /* corner */
      ::-webkit-scrollbar-corner {
        background: none;
      }
    }
  }
}

// CSS Baseline global styles
html {
  -webkit-font-smoothing: antialiased; // Antialiasing.
  -moz-osx-font-smoothing: grayscale; // Antialiasing.
  // Change from `box-sizing: content-box` so that `width`
  // is not affected by `padding` or `border`;
  box-sizing: border-box;
  // Fix font resize problem in iOS
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

strong,
b {
  font-weight: $typography-font-weight-bold;
}

body {
  letter-spacing: normal;
  font-weight: $typography-font-weight-regular;
  // Save printer ink.
  @media print {
    background-color: white;
    color: black;
  }

  margin: 0; // Remove the margin in all browsers.
  // Add support for document.body.requestFullScreen().
  // Other elements; if background transparent; are not supported.
  &::backdrop {
    background-color: $color-background;
  }
}
