// :copyright: Copyright (c) 2019 ftrack

.colorContainer {
  padding: 0 4px;
  border-radius: 2px;
  font-size: $font-size-x-small;
  line-height: $font-size-normal;
  font-weight: $font-weight-bold;
  background-color: $color-background;
  color: $color-text;
  display: inline-block;
}

.positiveColor {
  background-color: $color-positive;
  color: $color-text-contrast;
}

.negativeColor {
  background-color: $color-negative;
  color: $color-text-contrast;
}

.feedbackColor {
  background-color: $color-blue;
  color: $color-text-contrast;
}
