.container {
  width: inherit;
  height: inherit;
  border: none;
  background: transparent;

  > div {
    width: inherit;
    height: inherit;
  }

  input[type="file"] {
    width: 100%;
    height: 100%;
  }
}
