$media-preview-meta-background: $color-background-raised;
$media-preview-text-color: $color-light-2;
$media-preview-with-meta-background-color: $color-dark-1;
$media-preview-transparent-overlay-color: $color-background-overlay;
