@import "./config";

%button {
  position: absolute;
  top: calc(50% - 2.8rem);
  z-index: 11;
  transition: all 0.15s ease;
  transform: scale3d(0, 0, 1);
  opacity: 0;
  color: $color-white !important;
  background-color: $media-preview-with-meta-background-color !important;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $media-preview-transparent-overlay-color;
  z-index: 110;
  transition: all 0.25s ease;
  opacity: 0;
}

.item-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.item-inner-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 80%;
  max-width: 1600px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.with-meta {
    background-color: $media-preview-with-meta-background-color;
    width: calc(100% - 36rem);
  }
}

.meta {
  background-color: $media-preview-meta-background;
  padding: 2rem;
  font-size: $font-size-normal;
  width: 36rem;
  min-height: 24rem;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 11;

  span {
    font-size: 3rem !important;
    color: $media-preview-text-color;
  }
}

.download-button {
  position: absolute;
  bottom: $spacing;
  left: $spacing;
  z-index: 11;
}

.visible {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.left-button {
  @extend %button;
  left: 2rem;
}

.right-button {
  @extend %button;
  right: 2rem;
}

.text-container {
  position: absolute;
  bottom: $spacing-large;
  z-index: 10;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  span {
    color: $media-preview-text-color;
    text-align: center;
    font-size: 2.4rem;
  }
}
