// :copyright: Copyright (c) 2017 ftrack
@import "~@ftrack/react-toolbox/lib/table/_config.scss";
$table-border-color: $color-border-faded !default;
$table-header-text-color: $color-text-secondary !default;
$table-cell-text-color: $color-text !default;

$fdt-border-color: $table-border-color;

$fdt-header-background-color: $table-background-color;
$fdt-header-text-color: $table-header-text-color;
$fdt-header-font-size: 12px;
$fdt-header-font-weight: bold;
$fdt-footer-background-color: $color-background;
$fdt-header-background-image: none;

$fdt-cell-background-color: $table-background-color;
$fdt-cell-background-color-hover: $table-background-color-hover;
$fdt-cell-font-size: 13px;
$fdt-cell-font-weight: normal;
$fdt-cell-text-color: $table-cell-text-color;
$fdt-cell-padding: 4px 4px 4px 16px;
$fdt-guideline-color: $color-primary;
