// :copyright: Copyright (c) 2017 ftrack
@improt './config.scss';

.public_fixedDataTable_main {
  border-width: 0;
  background-color: $table-background-color;
}

.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
  border-color: $fdt-border-color;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-size: $fdt-header-font-size;
  font-weight: $fdt-header-font-weight;
  color: $fdt-header-text-color;
}

.public_fixedDataTable_header,
.public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: $fdt-header-background-color;
  border-color: $fdt-header-background-color;
}

.public_fixedDataTable_footer .public_fixedDataTableCell_main {
}

.public_fixedDataTable_topShadow {
  background: 0 0
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=)
    repeat-x;
}

.public_fixedDataTable_bottomShadow {
  background: 0 0
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAHElEQVQI12MwNjZmZdAT1+Nm0JDWEGZQk1GTBgAWkwIeAEp52AAAAABJRU5ErkJggg==)
    repeat-x;
}

.public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal {
  background-color: $color-background;
}
/**
 * Copyright Schrodinger, LLC
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 *
 * @providesModule fixedDataTableCell
 */

/**
 * Table cell.
 */
.public_fixedDataTableCell_main {
  background-color: $fdt-cell-background-color;
  border-color: $fdt-cell-background-color;
  font-size: $fdt-cell-font-size;
  font-weight: $fdt-cell-font-weight;
  color: $fdt-cell-text-color;
}

.public_fixedDataTableCell_wrap1 {
  // Allow table to specify width, so that cells do not overflow.
  table-layout: fixed;
}

.public_fixedDataTableCell_highlighted {
}

.public_fixedDataTableCell_cellContent {
  padding: $fdt-cell-padding;

  // Hide table cell overflow
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.public_fixedDataTableCell_columnResizerKnob {
  background-color: $fdt-guideline-color;
}
.public_fixedDataTableCell_hasReorderHandle
  .public_fixedDataTableCell_cellContent {
}
/**
 * Column reorder goodies.
 */
.fixedDataTableCellLayout_columnReorderContainer {
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: move;
}

.public_fixedDataTable_header:hover
  .fixedDataTableCellLayout_columnReorderContainer:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  width: 6px;
  height: 10px;
  border-top: 2px solid rgba($fdt-header-text-color, 0.2);
  border-bottom: 6px double rgba($fdt-header-text-color, 0.2);
}

.fixedDataTableCellLayout_columnReorderContainer:hover:after {
  border-color: rgba(black, 0.52);
}

/**
 * Copyright Schrodinger, LLC
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 *
 * @providesModule fixedDataTableColumnResizerLine
 *
 */

/**
 * Column resizer line.
 */
.public_fixedDataTableColumnResizerLine_main {
  border-color: $fdt-guideline-color;
}
/**
 * Copyright Schrodinger, LLC
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 *
 * @providesModule fixedDataTableRow
 */

/**
 * Table row.
 */
.public_fixedDataTableRow_main {
  border-bottom: 1px solid $fdt-border-color;
}

.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
}

.public_fixedDataTableRow_main:hover .public_fixedDataTableCell_main {
  background-color: $fdt-cell-background-color-hover;
  border-color: transparent;
}
.public_fixedDataTable_header.public_fixedDataTableRow_main:hover
  .public_fixedDataTableCell_main {
  background-color: $fdt-header-background-color;
  border-color: $fdt-cell-background-color-hover;
}

.public_fixedDataTableRow_fixedColumnsDivider {
  border-color: $fdt-border-color;
}

.public_fixedDataTableRow_columnsShadow {
  background: 0 0
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==)
    repeat-y;
}

.public_fixedDataTableRow_columnsRightShadow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/**
 * Copyright Schrodinger, LLC
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 *
 * @providesModule Scrollbar
 *
 */

/**
 * Scrollbars.
 */

/* Touching the scroll-track directly makes the scroll-track bolder */
.public_Scrollbar_main.public_Scrollbar_mainActive,
.public_Scrollbar_main:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.public_Scrollbar_mainOpaque,
.public_Scrollbar_mainOpaque.public_Scrollbar_mainActive,
.public_Scrollbar_mainOpaque:hover {
  background-color: #fff;
}

.public_Scrollbar_face:after {
  background-color: #c2c2c2;
}

.public_Scrollbar_main:hover .public_Scrollbar_face:after,
.public_Scrollbar_mainActive .public_Scrollbar_face:after,
.public_Scrollbar_faceActive:after {
  background-color: #7d7d7d;
}
