// :copyright: Copyright (c) 2018 ftrack

.linear {
  background-image: none;
  background-color: $color-background-dark-2;
}

.value {
  transition-property: none;
}

.buffer {
  transition-property: none;
  background-image: none;
  background-color: $color-neutral-800;
}
