// :copyright: Copyright (c) 2018 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
@import "./config";

$progress-bar-height: 0.4rem;

.root {
  user-select: none;
  position: relative;
}

.progressBar {
  cursor: pointer;
  display: block;
  height: $progress-bar-height;
  position: absolute;
  top: 0;

  transform-origin: top;
  transform: scale3d(1, 1, 1);
  @include material-animation-default();
  transition-property: transform;
}

.root:hover .progressBar,
.root:hover .point-in-out-mark,
.root:hover .frame-out-marker {
  transform: scale3d(1, 3, 1);
}

@media (hover: none) {
  .progressBar {
    height: 1.2rem;
  }
}

.disableProgressBar {
  pointer-events: none;
}

.controls {
  margin: ($spacing + $progress-bar-height) $spacing-small 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.volumeDown {
  position: absolute;
  // positioned above volume up.
  left: 6px;
  font-size: 2rem;
}

.volumeUp {
  font-size: 2rem;
  opacity: 0;
}

.playbackButton {
  margin-left: $spacing-small;
}

.formattedTime {
  display: inline-block;
}

.formattedTimeTotal {
  color: $color-text-faded;
}

.formattedTimeDropdownIcon {
  color: $color-text-faded;
  font-size: $font-size-large;
  vertical-align: middle;
  margin-left: 0.4rem;
}

.compare {
  margin-right: $spacing;
}

// Fix icon sizes
.largeIcon :global(.material-icons) {
  font-size: 24px;
}
.smallIcon :global(.material-icons) {
  font-size: 16px;
}

.pointers-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: $spacing-tiny;
}

%special-marker {
  width: $spacing-tiny;
  height: $spacing-tiny;
  display: inline-block;
  z-index: 1;
  position: absolute;
  color: transparent;
  transform-origin: top;
  transform: scale3d(1, 1, 1);
  @include material-animation-default();
  transition-property: transform;
}

.point-in-out-mark {
  @extend %special-marker;
  background: $color-light-contrast-medium-emphasis;
}

.icon-menu-wrapper {
  display: inline;
}

.frame-out-marker {
  @extend %special-marker;
  background-color: $color-border-default;
}

.downloadButtonDescription {
  margin-top: $spacing-tiny;
  color: $color-text-faded;
  font-size: $font-size-small;
}
