// :copyright: Copyright (c) 2021 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
@import "~@ftrack/react-toolbox/lib/globals";

.mention-selector {
  border-radius: $border-radius;
  background: $select-input-bg;
  width: 320px;
  margin-bottom: 7px;
  max-height: 200px;
  overflow-y: scroll;
  font-size: $font-size-small;
  line-height: 1.2rem;
  z-index: $z-index-highest;
  @include shadow-8dp();
}

.mention-option--resource {
  display: flex;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  padding-left: $spacing-tiny;
}

.mention-option--focused {
  background: $select-option-focused-bg;
}

.mention-option--avatar {
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: smaller;
  position: relative;
  margin-left: $spacing-tiny;
  margin-top: $spacing-tiny;
}

.mention-option--label {
  padding-left: $spacing-small;
  font-weight: $font-weight-bold;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mention-option--dash {
  padding-left: $spacing-tiny;
  padding-right: $spacing-tiny;
}

.mention-option--subtitle {
  padding-right: $spacing-tiny;
}

.mention-option--container {
  display: inline-flex;
}
