// :copyright: Copyright (c) 2021 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";
$table-row-divider: solid 1px $color-divider !default;
$table-row-offset: 1.8 * $unit !default;

.ProseMirror {
  position: relative;
}

.ProseMirror {
  @include typo-body-1;
  line-height: $unit;

  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include typo-body-1;
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  strong,
  a {
    color: $color-text;
    font-weight: $font-weight-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  table,
  blockquote,
  pre {
    margin-bottom: $spacing-small;
  }

  code,
  pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    padding: 0.2em 0.4em;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 2px;
  }

  pre {
    word-wrap: normal;
    overflow: auto;
    padding: $spacing-small;
  }

  pre > code {
    word-break: normal;
    white-space: pre;
    background: transparent;
    padding: 0;
    line-height: 2rem;
  }

  ul,
  ol {
    padding-left: $spacing;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    text-align: left;
    border-spacing: 0;
  }

  table th {
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  table th,
  table td {
    padding: $spacing-small $table-row-offset;
    border-bottom: $table-row-divider;
  }

  blockquote {
    font-style: italic;
    padding-left: $spacing;
    border-left: 2px solid $color-divider;
  }

  hr {
    border-top: 1px solid $color-divider;
    margin: $spacing 0;
  }
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

.mention {
  font-weight: 700;
  white-space: nowrap;
  color: $color-blue;
}
