// :copyright: Copyright (c) 2021 ftrack

:global {
  @import "./prosemirror.scss";
}

.wrapper {
  position: relative;
  height: fit-content;
  border: 1px solid $color-gray-light;
  box-sizing: border-box;
  border-radius: $border-radius;
  .disabled {
    pointer-events: none;
  }
}

.wrapper-legacy {
  position: relative;
  height: fit-content;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  color: $color-text;
  background-color: transparent;
  padding: 0;
  .editor {
    padding: $spacing-small $spacing-2 $spacing-small 0;
    min-height: 0;
    font-size: 1.6rem;
    border: 0;
    border-bottom: 1px solid $color-border-raised;
    outline: none;
  }
}

.bar,
.bar-focused {
  position: relative;
  display: block;
  width: 100%;
}

.bar::after,
.bar::before,
.bar-focused::after,
.bar-focused::before {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  content: "";
  background-color: #935ba2;
  transition-property: width, background-color;
}

.bar::before,
.bar-focused::before {
  left: 50%;
}

.bar::after,
.bar-focused::after {
  right: 50%;
}

.bar-focused::before,
.bar-focused::after {
  width: 50%;
}

.bottom-menu {
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: position 0.2s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    pointer-events: all;
  }
}

.bottom-bar {
  button {
    margin-top: -36px;
    float: right;
  }
}

.send-button {
  display: inline-block;
  margin-left: 1rem;
  transition: background-color 0.1s ease-in;
}

.active {
  background-color: $color-purple;
  button {
    color: $color-light-3 !important;
  }
}

.editor {
  padding: 1rem;
  min-height: 4rem;
  height: fit-content;
  max-height: 18rem;
  overflow-y: scroll;
  scrollbar-color: $color-divider transparent;
  scrollbar-width: thin;

  ul {
    padding-left: 2rem;
  }
  ol {
    padding-left: 2rem;
  }
  hr {
    border-bottom: 1px solid $color-divider;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .empty-node::before {
    float: left;
    color: $color-text-faded;
    pointer-events: none;
    height: 0;
  }

  p.empty-node:first-child::before {
    content: attr(data-content);
  }

  li p.empty-node:first-child::before {
    content: "";
  }
}

.editor::-webkit-scrollbar {
  background: transparent;
  width: 0.6rem;
}

.editor::-webkit-scrollbar-thumb {
  background-color: $color-divider;
  border-radius: 0.4rem;
  border: none;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  background: $tooltip-background;
  border-radius: $border-radius;
  width: max-content;
  margin-bottom: 7px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.spinner {
  transform: scale(0.5);
  height: 36px;
  width: 36px;
  vertical-align: middle;
  svg {
    circle {
      stroke: white;
    }
  }
}

.divider {
  position: absolute;
  border-left: 1px solid $color-divider;
  display: inline-block;
  height: 100%;
}
