// :copyright: Copyright (c) 2019 ftrack

.check {
  border: 2px solid $color-white;
  height: 16px;
  width: 16px;
}

.checked {
  background-color: $color-purple;
}

.disabled .checked.check {
  background-color: $color-gray-light;
}

.field {
  height: 16px;
  margin: 0;
}

.check.checked:after {
  margin-left: -1px;
  margin-top: -1px;
}
