// :copyright: Copyright (c) 2019 ftrack
@import "~@ftrack/react-toolbox/lib/_mixins.scss";

.thumbnailCard {
  display: inline-block;
  background-color: $color-background;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}
.checkbox {
  opacity: 0;
  will-change: opacity;
  @include material-animation-default();
  transition-property: opacity;
  pointer-events: none;
}

.thumbnailCard:hover .wrapper,
.disabledCard .wrapper {
  background-color: rgba($color-image-overlay, 0.75);
}

.thumbnailCard:hover .checkbox,
.selectedCard .checkbox {
  opacity: 1;
}

.selectedCard {
  box-shadow: 0 0 0 2px $color-primary;
}

.disabledCard {
  cursor: default;
  opacity: 0.7;
  box-shadow: none;
}

.folderCard {
  position: relative;
  background-color: $color-background;
  border-radius: 2px;
  width: 144px;
  height: 80px;
  margin-right: 6px;
  margin-bottom: 6px;
  overflow: hidden;
  cursor: pointer;
  padding: $spacing-small $spacing-tiny;
  display: inline-flex;
  align-items: center;
}

.folderCard:hover {
  background-color: $color-background-contained;
}

.icon {
  font-size: 4rem;
  color: $color-text-faded;
  margin-right: $spacing-small;
  vertical-align: center;
}

.text {
  width: 12rem;
  white-space: nowrap;
  overflow: hidden;
}
