// :copyright: Copyright (c) 2021 ftrack

/*/ Colors /*/

// Primary color
$color-purple-50: #efe6f1;
$color-purple-100: #d7c1de;
$color-purple-200: #bf9ac9;
$color-purple-300: #a575b3;
$color-purple-400: #935ba2;
$color-purple-500: #814692;
$color-purple-600: #76418b;
$color-purple-700: #663a81;
$color-purple-800: #583576;
$color-purple-900: #402966;

// Secondary color
$color-yellow-50: #fff7e2;
$color-yellow-100: #ffeab5;
$color-yellow-200: #ffdd86;
$color-yellow-300: #ffd055;
$color-yellow-400: #ffcd45;
$color-yellow-500: #febb1c;
$color-yellow-600: #feae19;
$color-yellow-700: #fd9b18;
$color-yellow-800: #fc8a17;
$color-yellow-900: #fc8a17;

// Error color
$color-red-50: #ffedef;
$color-red-100: #ffd1d4;
$color-red-200: #ffa09b;
$color-red-300: #ff7a73;
$color-red-400: #ff5a4c;
$color-red-500: #ff4c2d;
$color-red-600: #ff432f;
$color-red-700: #ef3829;
$color-red-800: #e23122;
$color-red-900: #d22614;

// Warning color
$color-orange-50: #fff3e2;
$color-orange-100: #ffe1b7;
$color-orange-200: #ffce89;
$color-orange-300: #ffba5c;
$color-orange-400: #ffab3d;
$color-orange-500: #ff9d2c;
$color-orange-600: #fa9129;
$color-orange-700: #f48226;
$color-orange-800: #ed7324;
$color-orange-900: #e25b21;

// Info color
$color-teal-50: #e1f8fa;
$color-teal-100: #b5edf2;
$color-teal-200: #87e1eb;
$color-teal-300: #5ad5e2;
$color-teal-400: #3fcbdc;
$color-teal-500: #32c2d6;
$color-teal-600: #2eb2c3;
$color-teal-700: #2a9ca9;
$color-teal-800: #268891;
$color-teal-900: #1f6567;

// Success color
$color-green-50: #dff8ed;
$color-green-100: #b2ecd3;
$color-green-200: #79dfb6;
$color-green-300: #06d399;
$color-green-400: #00c882;
$color-green-500: #00bc6d;
$color-green-600: #00ad62;
$color-green-700: #009a54;
$color-green-800: #008847;
$color-green-900: #006831;

// Additional info color
$color-blue-50: #e7f1fb;
$color-blue-100: #c5dbf6;
$color-blue-200: #a4c6ef;
$color-blue-300: #87b0e7;
$color-blue-400: #769fe1;
$color-blue-500: #6b90db;
$color-blue-600: #6582cc;
$color-blue-700: #5c70b9;
$color-blue-800: #5460a6;
$color-blue-900: #454287;

// Neutral color
$color-neutral-50: #e7e8e9;
$color-neutral-100: #e0e1e2;
$color-neutral-200: #c4c5c7;
$color-neutral-300: #a5a8aa;
$color-neutral-400: #a1a3a6;
$color-neutral-500: #717579;
$color-neutral-600: #6d7076;
$color-neutral-700: #4e5358;
$color-neutral-800: #2b3036;
$color-neutral-900: #1e252b;

// Dark theme background colors
$color-background-dark-raised: #303336;
$color-background-dark-paper: #1f252b;
$color-background-dark-default: #131920;

// Light theme background colors
$color-background-light-raised: #ffffff;
$color-background-light-paper: #ffffff;
$color-background-light-default: #f8f8f9;

// Dark contrast colors
$color-dark-contrast-high-emphasis: rgba(19, 25, 32, 0.87);
$color-dark-contrast-medium-emphasis: rgba(19, 25, 32, 0.6);
$color-dark-contrast-disabled: rgba(19, 25, 32, 0.5);
$color-dark-contrast-faded: rgba(19, 25, 32, 0.1);
$color-dark-contrast-highlighted: rgba(19, 25, 32, 0.05);

// Light contrast colors
$color-light-contrast-high-emphasis: rgba(255, 255, 255, 0.87);
$color-light-contrast-medium-emphasis: rgba(255, 255, 255, 0.6);
$color-light-contrast-disabled: rgba(255, 255, 255, 0.38);
$color-light-contrast-faded: rgba(255, 255, 255, 0.1);
$color-light-contrast-highlighted: rgba(255, 255, 255, 0.05);

/*/ Typography /*/

$font-family: "Roboto", "Helvetica", "Arial", sans-serif !default;

// Font weight
$typography-font-weight-thin: 300;
$typography-font-weight-regular: 400;
$typography-font-weight-medium: 500;
$typography-font-weight-bold: 700;

// Font sizes
$typography-font-size-h1: 4.8rem;
$typography-font-size-h2: 3.2rem;
$typography-font-size-h3: 2.4rem;
$typography-font-size-h4: 2rem;
$typography-font-size-h5: 1.6rem;
$typography-font-size-large: 1.6rem;
$typography-font-size-regular: 1.4rem;
$typography-font-size-small: 1.2rem;
$typography-font-size-xsmall: 1rem;
