// :copyright: Copyright (c) 2020 ftrack

.attributeLabel {
  font-weight: $font-weight-thin;
  font-size: $font-size;
  color: $color-text-faded;
  line-height: $spacing;
}

.attributeValue {
  margin-top: $spacing-tiny;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  color: $color-text;
  min-height: $spacing-large;
  position: relative;
}

.attribute {
  margin-bottom: $spacing-small;
}
