// :copyright: Copyright (c) 2016 ftrack

.activity-item-wrapper {
  padding: $spacing 0 $spacing 0;
  border-left: 1px dashed $color-border-contained;
}

.header {
  margin-top: 2 * $spacing;
  margin-bottom: $spacing;
  margin-left: -$spacing;
  text-transform: capitalize;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  color: $color-text-secondary;
}

.loading {
  margin: (4 * $spacing) (3 * $spacing);
}
