// :copyright: Copyright (c) 2021 ftrack

.menu.topLeft,
.menu.topRight {
  top: 100%;
}
.menu.bottomLeft,
.menu.bottomRight {
  bottom: 100%;
}

.menu {
  margin-top: $spacing-tiny / 2;
  .menuInner {
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
    border-radius: $border-radius;
    background-color: $menu-drop-down-background-color;

    li {
      height: $spacing-large;
      padding-left: $spacing-small;
      padding-right: $spacing-small;
      font-size: $font-size-small;

      :global(.material-icons) {
        font-size: $font-size-small;
        margin-right: $spacing-tiny;
      }

      span {
        display: flex;
        align-items: center;
        font-size: $font-size-small;
      }
    }
  }
}
