// :copyright: Copyright (c) 2016 ftrack

.wrapper {
  position: relative;

  .menu {
    > ul {
      max-height: 500px;
      overflow-y: auto;
      background-color: $menu-background-color;
      border: 1px solid $color-border-raised;
    }
  }
}

.displayInlineBlock {
  display: inline-block;
}
