// :copyright: Copyright (c) 2021 ftrack
@import "~react-toolbox/lib/_mixins.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 3.2rem;
  border: 1px solid $color-border-raised;
  border-radius: $spacing-large;
  @include material-animation-default();
  transition-property: width;

  overflow: hidden;
  &.showInput {
    width: 10rem;
  }
  &.large {
    &.showInput {
      width: 12rem;
    }
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
  }
}

.containerActive {
  border: 1px solid $color-text-secondary;
  width: 24.8rem;
  &.large {
    width: 24.8rem;
    &.showInput {
      width: 24.8rem;
    }
  }
  &.showInput {
    width: 24.8rem;
  }
  &.alwaysOpen {
    width: unset;
    flex: 1;
  }
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  color: $color-text-faded;
  white-space: nowrap;
  margin-left: $spacing-small;
  &.large {
    font-size: $font-size-normal;
  }
}

.flex {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.inputContainer {
  @extend .flex;
  padding-left: $spacing;
}

.input {
  background-color: transparent;
  color: $color-text;
  border: none;
  font-size: $font-size-small;
  line-height: 3.2rem;
  width: 100%;
  &.large {
    font-size: $font-size-normal;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-text-faded;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-text-faded;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-text-faded;
  }
}

.icon {
  color: $color-text-secondary;
}

.iconMargin {
  margin-right: $spacing-small;
}

.button {
  width: 3.2rem;
  height: 3.2rem;
  span:not([data-react-toolbox="tooltip"]) {
    line-height: 3.2rem;
    font-size: $font-size-large;
  }
}

.spinner {
  height: 2rem;
  width: 2rem;
}

.iconSmall {
  line-height: $spacing-2;
  font-size: $font-size-large;
}

.iconLarge {
  line-height: 3.6rem;
  font-size: 2rem;
}
